/* screen - homepage */

.homepage {
  align-items: center;
  background-color: var(--ffffff);
  display: flex;
  flex-direction: column;
  overflow: hidden;
  width: 1366px;
}
.nav{
    top:0px;
}
.homepage .overlap-group8 {
    align-self: flex-start;
    height: 1863px;
    margin-top: -174px;
    position: relative;
    width: 1845px;f
  position: absolute;
  top: 0;
  width: 1845px;
}

.homepage .x1207_vw50a-x-rs-zw-qt-mg-1 {
  height: 1621px;
  left: 224px;
  object-fit: cover;
  position: absolute;
  top: 0;
  width: 1621px;
}

.homepage .ellipse-21 {
  background-color: #e454a1;
  border-radius: 232.5px;
  height: 465px;
  left: 731px;
  opacity: 0.2;
  position: absolute;
  top: 281px;
  width: 465px;
}

.homepage .group-8 {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  left: 99px;
  min-height: 426px;
  position: absolute;
  top: 382px;
  width: 557px;
}

.homepage .the-easiest-way-to-g {
  color: var(--black);
  font-family: var(--font-family-poppins);
  font-size: 61px;
  font-weight: 600;
  letter-spacing: -2.44px;
  line-height: 79.3px;
  min-height: 237px;
}

.homepage .schedule-jobs-get-p {
  letter-spacing: -0.64px;
  line-height: 28.8px;
  margin-top: 35px;
  min-height: 58px;
  opacity: 0.7;
}

.homepage .flex-row {
  align-items: flex-start;
  display: flex;
  margin-top: 42px;
  min-width: 486px;
}

.homepage .frame-2 {
  align-items: center;
  background-color: var(--black);
  border-radius: 15px;
  display: flex;
  height: 54px;
  min-width: 222px;
  padding: 0 34.5px;
  padding-top: 8px;
}

.homepage .apple_logo_black-1 {
  height: 17px;
  width: 15px;
  margin-bottom: 11px;
}

.homepage .download-for-i-os {
    letter-spacing: -0.64px;
    margin-left: 10px;
    min-height: 24px;
    min-width: 128px;
    margin-top: -4px;
}

    .homepage .overlap-group {
        align-items: center;
        background-image: url(../../lib/img//frame-3@2x.svg);
        background-size: 100% 100%;
        display: flex;
        height: 54px;
        justify-content: center;
        margin-left: 32px;
        min-width: 232px;
        padding: 0 1px;
        padding-top: 8px;
    }

.homepage .group-2 {
  height: 13px;
  margin-top: 0;
  width: 26px;
  margin-bottom: 7px;
}

.homepage .download-for-android {
    letter-spacing: -0.64px;
    margin-left: 9px;
    min-height: 24px;
    min-width: 162px;
    margin-top: -4px;
}

.homepage .coins2-1 {
  height: 78px;
  left: 706px;
  object-fit: cover;
  position: absolute;
  top: 562px;
  width: 78px;
}

.homepage .coins2-2 {
  height: 78px;
  left: 1147px;
  object-fit: cover;
  position: absolute;
  top: 382px;
  width: 78px;
}

.homepage .coins2-5 {
  height: 124px;
  left: 1072px;
  object-fit: cover;
  position: absolute;
  top: 569px;
  width: 124px;
}

.homepage .iphone-12-pro-in-hand-free-mockup-1 {
  height: 762px;
  left: 672px;
  position: absolute;
  top: 178px;
  width: 608px;
}

.homepage .group-497 {
  align-items: flex-start;
  background-color: #e354a1;
  border-radius: 29px;
  display: flex;
  height: 58px;
  left: 740px;
  min-width: 58px;
  padding: 21px 21.5px;
  position: absolute;
  top: 354px;
}

.homepage .polygon-1 {
  height: 15px;
  width: 14px;
}

.homepage .group-512 {
  align-items: center;
  background-color: #fafafa;
  display: flex;
  height: 923px;
  justify-content: flex-end;
  left: 0;
  min-width: 1366px;
  padding: 0 99px;
  position: absolute;
  top: 940px;
}

.homepage .overlap-group5 {
  height: 683px;
  position: relative;
  width: 1167px;
  padding-top: 8px;
}

.homepage .group-511 {
  align-items: center;
  display: flex;
  flex-direction: column;
  left: 0;
  min-height: 683px;
  position: absolute;
  top: 0;
  width: 1167px;
}

.homepage .get-your-business-under-control {
  color: var(--black);
  font-family: var(--font-family-poppins);
  font-size: 36px;
  font-weight: 500;
  letter-spacing: -1.44px;
  line-height: 46.8px;
  min-height: 47px;
  min-width: 535px;
  white-space: nowrap;
}

.homepage .flex-row-1 {
  align-items: flex-start;
  display: flex;
  height: 578px;
  margin-right: 2.0px;
  margin-top: 58px;
  min-width: 1165px;
}

.homepage .overlap-group-1 {
  align-items: center;
  background-color: var(--ffffff);
  border-radius: 30px;
  display: flex;
  flex-direction: column;
  min-height: 466px;
  padding: 41px 29px;
  width: 363px;
}

.homepage .graphic_1-1-1 {
  height: 117px;
  margin-top: 15px;
  object-fit: cover;
  width: 117px;
}

.homepage .enhance-your-management-team {
  color: var(--black);
  font-family: var(--font-family-poppins);
  font-size: 22px;
  font-weight: 500;
  letter-spacing: -0.88px;
  line-height: 28.6px;
  margin-right: 1.0px;
  margin-top: 49px;
  min-height: 58px;
  min-width: 208px;
  text-align: center;
}

.homepage .maximize-your-manage {
  align-self: flex-start;
  letter-spacing: -0.60px;
  line-height: 27.0px;
  margin-top: 10px;
  min-height: 135px;
  min-width: 304px;
  opacity: 0.7;
  text-align: center;
}

.homepage .flex-col {
  align-items: center;
  display: flex;
  flex-direction: column;
  margin-left: 38px;
  min-height: 578px;
  width: 363px;
}

.homepage .overlap-group1 {
  align-items: flex-end;
  background-color: var(--ffffff);
  border-radius: 30px;
  display: flex;
  flex-direction: column;
  min-height: 466px;
  padding: 148px 35px;
  width: 363px;
}

.homepage .set-jobs-up-for-success {
  align-self: center;
  color: var(--black);
  font-family: var(--font-family-poppins);
  font-size: 22px;
  font-weight: 500;
  letter-spacing: -0.88px;
  line-height: 28.6px;
  margin-left: 1.0px;
  margin-top: 74px;
  min-height: 29px;
  min-width: 234px;
  text-align: center;
  white-space: nowrap;
}

.homepage .easily-manage-hundre {
  letter-spacing: -0.60px;
  line-height: 27.0px;
  margin-top: 13px;
  min-height: 54px;
  min-width: 292px;
  opacity: 0.7;
  text-align: center;
}

.homepage .frame-4 {
  align-items: center;
  background-color: var(--brilliant-rose);
  border-radius: 15px;
  display: flex;
  height: 54px;
  margin-left: 1.0px;
  margin-top: 58px;
  min-width: 166px;
  padding: 0 35px;
  padding-top : 8px;
}

.homepage .browse-more {
  letter-spacing: -0.64px;
  min-height: 24px;
  min-width: 96px;
}

.homepage .overlap-group2 {
  align-items: flex-end;
  background-color: var(--ffffff);
  border-radius: 30px;
  display: flex;
  flex-direction: column;
  margin-left: 38px;
  min-height: 466px;
  padding: 56px 32px;
  width: 363px;
}

.homepage .graphic_1-1-3 {
  align-self: center;
  height: 117px;
  width: 117px;
}

.homepage .invoice-and-get-paid {
  letter-spacing: -0.96px;
  line-height: 31.2px;
  margin-right: 34px;
  margin-top: 49px;
  min-height: 32px;
  text-align: center;
  white-space: nowrap;
  width: 231px;
}

.homepage .uleadz-field-service {
  letter-spacing: -0.60px;
  line-height: 27.0px;
  margin-top: 10px;
  min-height: 112px;
  opacity: 0.7;
  text-align: center;
  width: 298px;
}

.homepage .graphic_1-1-2 {
  height: 117px;
  left: 524px;
  object-fit: cover;
  position: absolute;
  top: 161px;
  width: 117px;
}

.homepage .menu {
    align-items: flex-start;
    display: flex;
    height: 30px;
    left: 346px;
    min-width: 679px;
    position: absolute;
      top: 40px;
      z-index: 2;
}
.menu-nav {
    align-items: flex-start;
    display: flex;
    justify-content: center;
    gap:20px;
    height: 30px;
    left: 346px;
    min-width: 679px;
    position: absolute;
      top: 40px;
      z-index: 2;
}
    .menu-nav a {
        display: block;
        text-decoration: none;
    }
.image-1 {
    height: 28px;
    left: 68px;
    object-fit: cover;
    position: absolute;
    top: 40px;
    width: 90px;
    z-index: 2;
}
.link {
    letter-spacing: 0;
    min-height: 24px;
    min-width: 100px;
    opacity: 0.5;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #551a8b !important;
}
.active{
    border-bottom:1px solid purple !important;

/*    background-color:red !important;*/
}

.homepage .overlap-group6 {
  height: 30px;
  position: relative;
  width: 296px;
}

.homepage .place {
  left: 0;
  letter-spacing: 0;
  position: absolute;
  top: 0;
}

.homepage .why-uleadz {
  left: 87px;
  letter-spacing: 0;
  opacity: 0.5;
  position: absolute;
  top: 0;
}

.homepage .group-584 {
  align-items: flex-start;
  display: flex;
  height: 30px;
  left: 0;
  min-width: 296px;
  position: absolute;
  top: 0;
}

.homepage .line-42 {
  align-self: flex-end;
  height: 2px;
  margin-bottom: -1px;
  width: 40px;
}

.homepage .industries {
  letter-spacing: 0;
  margin-left: 176px;
  min-height: 24px;
  opacity: 0.5;
}

.homepage .aboutus {
  letter-spacing: 0;
  margin-left: 34px;
  min-height: 24px;
  min-width: 73px;
  opacity: 0.5;
}

.homepage .pricing {
  letter-spacing: 0;
  margin-left: 35px;
  min-height: 24px;
  min-width: 55px;
  opacity: 0.5;
}

.homepage .place-1 {
  letter-spacing: 0;
  margin-left: 37px;
  min-height: 24px;
  min-width: 66px;
  opacity: 0.5;
}

.homepage .help {
  letter-spacing: 0;
  margin-left: 36px;
  min-height: 24px;
  opacity: 0.5;
}

.homepage .image-1 {
    height: 28px;
    left: 68px;
    object-fit: cover;
    position: absolute;
    top: 40px;
    width: 90px;
    z-index:2;
}

.homepage .group-519 {
  align-items: center;
  display: flex;
  margin-right: 13.0px;
  margin-top: 77px;
  min-width: 1127px;
}

.homepage .overlap-group1-1 {
  height: 753px;
  position: relative;
  width: 608px;
}

.homepage .group-514 {
  align-items: center;
  background-image: url(../../lib/img/ellipse-22@1x.svg);
  background-size: 100% 100%;
  display: flex;
  height: 608px;
  left: 0;
  min-width: 608px;
  padding: 0 31px;
  position: absolute;
  top: 145px;
}

.homepage .overlap-group-2 {
  height: 524px;
  position: relative;
  width: 542px;
}

    .homepage .ellipse-24 {
        background-color: #4066fe00;
        height: 524px;
        left: 11px;
        position: absolute;
        top: 0;
        width: 524px;
        border-radius: 50%;
    }

    .homepage .ellipse-23 {
        background-color: #4066fe00;
        height: 432px;
        left: 57px;
        position: absolute;
        top: 46px;
        width: 432px;
        border-radius: 50%;
    }

.homepage .coins2-3 {
  height: 78px;
  left: 464px;
  object-fit: cover;
  position: absolute;
  top: 161px;
  width: 78px;
}

.homepage .coins2-4 {
  height: 78px;
  left: 0;
  object-fit: cover;
  position: absolute;
  top: 23px;
  width: 78px;
}

.homepage .mansgement-1 {
  height: 593px;
  left: 153px;
  position: absolute;
  top: 0;
  width: 302px;
}

.homepage .group-488 {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  margin-bottom: 15.0px;
  margin-left: 45px;
  min-height: 514px;
  width: 478px;
}

.homepage .flex-row-2 {
  align-items: flex-start;
  display: flex;
  min-width: 356px;
}

.homepage .internet {
  height: 42px;
  width: 42px;
}

.homepage .automate-your-day {
  align-self: flex-end;
  height: 45px;
  letter-spacing: -1.28px;
  line-height: 44.8px;
  margin-left: 23px;
  min-width: 291px;
  white-space: nowrap;
}

.homepage .lorem-ipsum-dolor-si {
  align-self: flex-end;
  letter-spacing: -0.64px;
  line-height: 28.8px;
  margin-right: 4px;
  margin-top: 24px;
  min-height: 116px;
  min-width: 460px;
  opacity: 0.6;
}

.homepage .group-285 {
  align-items: flex-start;
  display: flex;
  margin-left: 14px;
  margin-top: 41px;
  min-width: 356px;
}

.homepage .group-282 {
  align-items: flex-start;
  background-color: var(--brilliant-rose-2);
  border-radius: 16px;
  display: flex;
  height: 32px;
  margin-top: 3px;
  min-width: 32px;
  padding: 5.9px 7px;
}

.homepage .friends-1 {
  height: 18px;
  width: 18px;
}

.homepage .instantly-fill-out-f {
  height: 52px;
  letter-spacing: -0.64px;
  line-height: 25.6px;
  margin-left: 17px;
}

.homepage .group-286 {
  align-items: flex-start;
  display: flex;
  height: 52px;
  margin-left: 14px;
  margin-top: 24px;
  min-width: 311px;
}

.homepage .group-282-1 {
  align-items: flex-start;
  background-color: var(--brilliant-rose-2);
  border-radius: 16px;
  display: flex;
  height: 32px;
  margin-top: 3px;
  min-width: 32px;
  padding: 4.3px 7px;
}

.homepage .friends {
  height: 19px;
  width: 18px;
}

.homepage .alert-technicians-of {
  letter-spacing: -0.64px;
  line-height: 25.6px;
  margin-left: 17px;
  min-height: 52px;
}

.homepage .group-287 {
  align-items: center;
  display: flex;
  margin-left: 14px;
  margin-top: 24px;
  min-width: 286px;
}

.homepage .group-282-2 {
  align-items: flex-start;
  background-color: var(--brilliant-rose-2);
  border-radius: 16px;
  display: flex;
  height: 32px;
  min-width: 32px;
  padding: 3.3px 7px;
}

.homepage .automate-customer-reminders {
  letter-spacing: -0.64px;
  line-height: 25.6px;
  margin-left: 17px;
  min-height: 26px;
  min-width: 235px;
  white-space: nowrap;
}

.homepage .frame-16 {
  align-items: center;
  background-color: var(--brilliant-rose);
  border-radius: 50px;
  display: flex;
  height: 62px;
  margin-left: 14px;
  margin-top: 42px;
  min-width: 164px;
  padding: 0 40px;
}

.homepage .learn-more {
  height: 22px;
  letter-spacing: -0.64px;
  line-height: 22.4px;
  min-width: 84px;
  text-align: center;
  white-space: nowrap;
}

.homepage .group-517 {
  align-items: flex-end;
  background-color: #fafafa;
  display: flex;
  flex-direction: column;
  margin-top: 78px;
  min-height: 1129px;
  padding: 152px 119px;
  width: 1366px;
}

.homepage .top-features-weve {
  align-self: center;
  letter-spacing: -2.00px;
  line-height: 65px;
  margin-left: 1.0px;
  min-height: 195px;
  min-width: 829px;
  text-align: center;
}

.homepage .flex-row-3 {
  align-items: flex-start;
  display: flex;
  height: 562px;
  margin-top: 68px;
  min-width: 1126px;
}

.homepage .group-container {
  align-items: flex-start;
  align-self: flex-end;
  display: flex;
  flex-direction: column;
  min-height: 561px;
  width: 491px;
}

.homepage .group-492 {
  align-items: flex-start;
  display: flex;
  height: 215px;
  min-width: 486px;
}

.homepage .group-489 {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  min-height: 215px;
  width: 249px;
}

.homepage .scheduling-and-dispatching {
  letter-spacing: -1.12px;
  min-height: 84px;
}

.homepage .send-the-right-techn {
  letter-spacing: 0;
  line-height: 28.8px;
  margin-top: 15px;
  min-height: 116px;
  opacity: 0.7;
}

.homepage .coins2-5-1 {
  height: 182px;
  margin-left: 55px;
  margin-top: 2px;
  object-fit: cover;
  width: 182px;
}

.homepage .group-493 {
  align-items: flex-start;
  display: flex;
  height: 247px;
  margin-top: 99px;
  min-width: 491px;
}

.homepage .group-489-1 {
  align-items: flex-start;
  align-self: flex-end;
  display: flex;
  flex-direction: column;
  min-height: 244px;
  width: 237px;
}

.homepage .work-order-management {
  letter-spacing: -1.12px;
  min-height: 84px;
}

.homepage .manage-your-workforc {
  letter-spacing: 0;
  line-height: 28.8px;
  margin-top: 15px;
  min-height: 145px;
  opacity: 0.7;
}

.homepage .coins2-5-2 {
  height: 192px;
  margin-left: 62px;
  object-fit: cover;
  width: 192px;
}

.homepage .overlap-group-container {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  margin-left: 168px;
  min-height: 547px;
  width: 467px;
}

.homepage .overlap-group-3 {
  height: 218px;
  position: relative;
  width: 467px;
}

.homepage .coins2-6 {
  height: 204px;
  left: 263px;
  object-fit: cover;
  position: absolute;
  top: 0;
  width: 204px;
}

.homepage .group-490 {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  left: 0;
  min-height: 215px;
  position: absolute;
  top: 3px;
  width: 267px;
}

.homepage .estimates-and-invoicing {
  letter-spacing: -1.12px;
  min-height: 84px;
}

.homepage .email-or-fax-estimat {
  letter-spacing: 0;
  line-height: 28.8px;
  margin-top: 15px;
  min-height: 116px;
  opacity: 0.7;
}

.homepage .overlap-group1-2 {
  height: 218px;
  margin-top: 111px;
  position: relative;
  width: 467px;
}

.homepage .dashboards-analytics {
  letter-spacing: -1.12px;
  min-height: 84px;
}

.homepage .email-or-fax-estimat-1 {
  letter-spacing: 0;
  line-height: 28.8px;
  margin-top: 15px;
  min-height: 116px;
  opacity: 0.7;
}

.homepage .group-515 {
  align-items: center;
  display: flex;
  margin-right: 1.0px;
  margin-top: 163px;
  min-width: 1123px;
}

.homepage .group-478 {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  margin-bottom: 85.0px;
  min-height: 403px;
  width: 460px;
}

.homepage .flex-row-4 {
  align-items: flex-start;
  display: flex;
  height: 90px;
  min-width: 425px;
}

.homepage .internet-1 {
  height: 42px;
  margin-top: 1.71px;
  width: 42px;
}

.homepage .an-app-build-specifi {
  letter-spacing: -1.28px;
  line-height: 44.8px;
  margin-left: 23px;
  min-height: 90px;
}

.homepage .uleadz-guarantees-to {
  align-self: flex-end;
  letter-spacing: -0.64px;
  line-height: 28.8px;
  margin-right: 4px;
  margin-top: 24px;
  min-height: 174px;
  min-width: 442px;
  opacity: 0.7;
}

.homepage .frame-16-1 {
  align-items: center;
  background-color: var(--brilliant-rose);
  border-radius: 50px;
  display: flex;
  height: 62px;
  margin-left: 14px;
  margin-top: 53px;
  min-width: 164px;
  padding: 0 40px;
}

.homepage .learn-more-1 {
  height: 22px;
  letter-spacing: -0.64px;
  line-height: 22.4px;
  min-width: 84px;
  text-align: center;
  white-space: nowrap;
}

.homepage .overlap-group-4 {
  height: 608px;
  margin-left: 41px;
  position: relative;
  width: 622px;
}

    .homepage .ellipse-25 {
        background-color: #ebd9fd00;
        height: 608px;
        left: 0;
        position: absolute;
        top: 0;
        width: 608px;
        border-radius: 50%;
    }

    .homepage .ellipse-26 {
        background-color: #ebd9fd00;
        height: 524px;
        left: 42px;
        position: absolute;
        top: 42px;
        width: 524px;
        border-radius: 50%;
    }

    .homepage .ellipse-27 {
        background-color: var(--blue-chalk-2);
        height: 432px;
        left: 88px;
        position: absolute;
        top: 88px;
        width: 432px;
        border-radius: 50%;
    }

.homepage .group-1-45 {
  height: 286px;
  left: 49px;
  object-fit: cover;
  position: absolute;
  top: 146px;
  width: 501px;
}

.homepage .coins2-6-1 {
  height: 78px;
  left: 96px;
  object-fit: cover;
  position: absolute;
  top: 38px;
  width: 78px;
}

.homepage .coins2-5-3 {
  height: 78px;
  left: 544px;
  object-fit: cover;
  position: absolute;
  top: 369px;
  width: 78px;
}

.homepage .footer {
  align-items: flex-start;
  display: flex;
  height: 691px;
  margin-left: 2.0px;
/*  margin-top: 162px;*/
  min-width: 1368px;
}

.homepage .overlap-group4 {
  height: 692px;
  margin-top: -1px;
  position: relative;
  width: 1366px;
}

.homepage .rectangle-170 {
  height: 691px;
  left: 0;
  position: absolute;
  top: 1px;
  width: 1366px;
}

.homepage .line-41 {
  height: 2px;
  left: 0;
  position: absolute;
  top: 0;
  width: 1366px;
}

.homepage .group-484 {
  align-items: center;
  display: flex;
  flex-direction: column;
  left: 244px;
  min-height: 243px;
  position: absolute;
  top: 92px;
  width: 880px;
}

.homepage .stay-ahead-of-the-ga {
  letter-spacing: -1.88px;
  line-height: 75.2px;
  margin-right: 2.0px;
  min-height: 150px;
  min-width: 878px;
  text-align: center;
}

.homepage .frame-16-2 {
  align-items: center;
  background-color: var(--black);
  border-radius: 50px;
  display: flex;
  height: 62px;
  margin-right: 2.0px;
  margin-top: 31px;
  min-width: 180px;
  padding: 0 48px;
}

.homepage .contact-us {
  height: 22px;
  letter-spacing: -0.64px;
  line-height: 22.4px;
  min-width: 84px;
  text-align: center;
  white-space: nowrap;
}

.homepage .group-486 {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  left: 136px;
  min-height: 184px;
  position: absolute;
  top: 398px;
  width: 106px;
}

.homepage .place-2 {
  height: 24px;
  letter-spacing: -0.48px;
}

.homepage .why-uleadz-1 {
  height: 24px;
  letter-spacing: -0.48px;
  margin-top: 16px;
}

.homepage .about-us-1 {
  height: 24px;
  letter-spacing: -0.48px;
  margin-top: 16px;
}

.homepage .place-3 {
  height: 24px;
  letter-spacing: -0.48px;
  margin-top: 16px;
}

.homepage .pricing-1 {
  height: 24px;
  letter-spacing: -0.48px;
  margin-top: 16px;
}

.homepage .group-485 {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  left: 632px;
  min-height: 144px;
  position: absolute;
  top: 398px;
  width: 110px;
}

.homepage .industries-1 {
  height: 24px;
  letter-spacing: -0.48px;
}

.homepage .terms-of-use {
  height: 24px;
  letter-spacing: -0.48px;
  margin-top: 16px;
}

.homepage .privacy-policy {
  height: 24px;
  letter-spacing: -0.48px;
  margin-top: 16px;
}

.homepage .support {
  height: 24px;
  letter-spacing: -0.48px;
  margin-top: 16px;
}

.homepage .hellouleadzcom {
  height: 24px;
  left: 1105px;
  letter-spacing: -0.48px;
  position: absolute;
  top: 486px;
}

.homepage .group-144 {
  align-items: flex-start;
  display: flex;
  height: 25px;
  left: 1119px;
  min-width: 124px;
  position: absolute;
  top: 526px;
}

.homepage .overlap-group3 {
  align-items: flex-end;
  background-color: var(--ffffff);
  border-radius: 12.65px;
  display: flex;
  height: 25px;
  min-width: 25px;
  padding: 5.5px 9.2px;
}

.homepage .group-143 {
  height: 14px;
  width: 7px;
}

.homepage .overlap-group1-3 {
  align-items: flex-end;
  background-color: var(--ffffff);
  border-radius: 12.65px;
  display: flex;
  height: 25px;
  justify-content: flex-end;
  margin-left: 8px;
  min-width: 25px;
  padding: 6.5px 6.2px;
}

.homepage .group {
  height: 12px;
  width: 13px;
}

.homepage .overlap-group2-1 {
  align-items: flex-end;
  background-color: var(--ffffff);
  border-radius: 12.65px;
  display: flex;
  height: 25px;
  margin-left: 8px;
  min-width: 25px;
  padding: 6.2px 2.3px;
}

.homepage .twitter-logowine-1 {
  height: 13px;
  width: 20px;
}

.homepage .overlap-group-5 {
  align-items: flex-end;
  background-color: var(--ffffff);
  border-radius: 12.65px;
  display: flex;
  height: 25px;
  margin-left: 8px;
  min-width: 25px;
  padding: 5.2px 2.2px;
}

.homepage .you-tube-icon-almost-black-logowine-1 {
  height: 15px;
  width: 21px;
}

.homepage .uleadz1-1 {
  height: 72px;
  left: 1143px;
  object-fit: cover;
  position: absolute;
  top: 398px;
  width: 72px;
}

input {
    width: 100%;
    border: none;
/*    z-index:2;*/
}
input:focus {
    outline: none;
}