<div class="container-center-horizontal">
    <div class="homepage-mobile-op-2 screen">
        <div class="group-1764">
            <div class="overlap-group7">
                <div class="stay-ahead-of-the-ga poppins-normal-white-20px">
                    <span class="poppins-normal-white-20px">Stay ahead of the game<br />with</span>
                    <span class="span1 poppins-medium-white-28px">Uleadz Field<br />Management Software</span>
                </div>
                <a href="/contact"> 
                    <div class="frame-16-2">
                        <div class="contact-us valign-text-middle poppins-medium-white-18px">Contact Us</div>
                    </div>
                    </a>
                    <div class="group-container poppins-normal-white-16px">
                        <div class="group-486">
                            <a href="/index">
                                <div class="place-link valign-text-middle white">Home</div>
                            </a>
                            <a href="/why-uleadz">
                                <div class="why-uleadz-link valign-text-middle white">Why Uleadz?</div>
                            </a>
                            <a href="/about-us">
                                <div class="about-us-link valign-text-middle white">About Us</div>
                            </a>
                            <a href="/contact">
                                <div class="place-1-link valign-text-middle white">Contact</div>
                            </a>
                            <a href="/pricing">
                                <div class="pricing-link  valign-text-middle white">Pricing</div>
                            </a>
                        </div>
                        <div class="group-485">
                            <a href="">
                                <div class="industries valign-text-middle white">Industries</div>
                            </a>
                            <a href="">
                                <div class="terms-of-use valign-text-middle white">Terms of use</div>
                            </a>
                            <a href="">
                                <div class="privacy-policy valign-text-middle white">Privacy Policy</div>
                                </a>
                                <a href="/help-documentation">
                                    <div class="support valign-text-middle white">Support</div>
                                </a>
                        </div>
                    </div>
                    <div class="group-144">
                        <a href="https://www.facebook.com/uleadzapp/">
                            <div class="group-1759"><img class="group-143" src="~/lib/img/group-143-2@2x.png" /></div>
                        </a>
                        <a href="https://www.instagram.com/uleadzapp/">
                            <div class="group-1758"><img class="group" src="~/lib/img/group-16@2x.png" /></div>
                        </a>
                        <a href="https://twitter.com/uleadz_ai">
                            <div class="group-1757"><img class="vector-1" src="~/lib/img/vector@2x.png" /></div>
                        </a>
                        <a href="https://www.youtube.com/channel/UCSe9X-1aMa3OolrVORdIaGw">
                            <div class="group-1756-1"><img class="group-1755" src="~/lib/img/group-1755@2x.png" /></div>
                        </a>
                    </div>
                    <div class="hellouleadzcom valign-text-middle poppins-normal-white-16px">hello@uleadz.com</div>
                    <img class="uleadz1-1" src="~/lib/img/uleadz1-1-2@2x.png" />
            </div>
        </div>
        </div>
        </div>
