<div class="container-center-horizontal">
    <div class="about-us-mobile screen">
      
        <div class="the-need-for-field-management-solutions poppins-semi-bold-black-34px">
            The Need For Field<br />Management<br />Solutions
        </div>
        <p class="in-2018-the-ucallz-e poppins-normal-black-14px">
            In 2018 the Ucallz entrepreneurs identified a<br />significant unmet need in the US home services<br />market
            –<br /><br />
            A lack of designated contact center<br />solutions and workflow management solutions<br />for small home
            service providers (plumbers,<br />constructors,&nbsp;&nbsp;electricians, locksmiths, appliance<br />repairers,
            carpet cleaners, garage door repairers,<br />exterminators, gardeners, etc.)
        </p>
        <div class="group-1802">
            <div class="frame-4"><div class="start-today poppins-normal-white-14px">Start today</div></div>
            <div class="frame-5 border-1px-black">
                <div class="how-it-works poppins-normal-black-14px">How it works</div>
            </div>
        </div>
        <div class="overlap-group5">
            <div class="rectangle-304"></div>
            <img class="supercup-1" src="~/lib/img/supercup-1-1@2x.png" />
            <div class="legendary-support poppins-normal-black-21px">Legendary Support</div>
            <p class="uleadz-provides-an-i poppins-normal-black-14px">
                Uleadz provides an integrated and<br />comprehensive workflow management platform<br />for small and medium
                home service providers.<br /><br />Our Uleadz WFM platform essentially outsources <br />the front desk needs
                of modern day small and<br />medium home service providers.<br /><br />Our technology processes client leads
                in a<br />completely automated way, optimizing sales<br />conversion rates and dispersing workflows
                within<br />the organization. This results in very substantial<br />workforce-related cost savings. Client
                leads are<br />allocated in a highly efficient way, prioritizing<br />professionals within the organization
                according<br />to geographic area and work type.
            </p>
            <img class="rectangle-243" src="~/lib/img/rectangle-243@1x.png" />
            <div class="top-ideas poppins-normal-black-14px">TOP IDEAS</div>
            <div class="overlap-group-1">
                <img class="rectangle-240" src="~/lib/img/rectangle-240-1@2x.png" />
                <img class="rectangle-241" src="~/lib/img/rectangle-241-1@2x.png" />
                <img class="rectangle-239" src="~/lib/img/rectangle-239-1@2x.png" />
                <img class="rectangle-242" src="~/lib/img/rectangle-242-1@2x.png" />
                <div class="ellipse-37"></div>
                <div class="ellipse-41"></div>
                <div class="ellipse-38"></div>
                <div class="ellipse-39"></div>
                <div class="ellipse-40"></div>
            </div>
            <div class="frame-4-1"><div class="start-now poppins-normal-white-14px">Start now</div></div>
        </div>
        <div class="overlap-group6">
            <div class="testimonial poppins-normal-black-14px">TESTIMONIAL</div>
            <div class="you-get-more-than-what-you-pay-for poppins-medium-black-28px">
                You get more than<br />what you pay for
            </div>
            <div class="overlap-group1">
                <img class="rectangle-258" src="~/lib/img/rectangle-258-5@2x.png" />
                <img class="rectangle-259" src="~/lib/img/rectangle-259-7@2x.png" />
                <img class="rectangle-260" src="~/lib/img/rectangle-260-7@2x.png" />
            </div>
            <div class="overlap-group2">
                <p class="if-you-are-looking poppins-normal-black-14px">
                    &#34;If you are looking to save time and be more<br />organized with your business, this is what<br />you
                    are looking for. Awesome system, very<br />time saving and user friendly! Great to keep<br />your business
                    organized!&#34;
                </p>
                <div class="group-1824">
                    <img class="ellipse-42" src="~/lib/img/ellipse-42@2x.png" />
                    <div class="group-617">
                        <div class="overlap-group">
                            <div class="name valign-text-middle poppins-medium-black-12px">Josh Garcia</div>
                            <div class="field-technician valign-text-middle poppins-normal-black-12px">Field Technician</div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="overlap-group3">
                <p class="if-you-are-looking poppins-normal-black-14px">
                    &#34;If you are looking to save time and be more<br />organized with your business, this is what<br />you
                    are looking for. Awesome system, very<br />time saving and user friendly! Great to keep<br />your business
                    organized!&#34;
                </p>
                <div class="group-1824">
                    <img class="ellipse-42" src="~/lib/img/ellipse-42@2x.png" />
                    <div class="group-617">
                        <div class="overlap-group">
                            <div class="name valign-text-middle poppins-medium-black-12px">Josh Garcia</div>
                            <div class="field-technician valign-text-middle poppins-normal-black-12px">Field Technician</div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="frame-5-1 border-1px-brilliant-rose">
                <div class="view-all poppins-normal-brilliant-rose-14px">View all</div>
            </div>
        </div>

    </div>
</div>
