<div class="about-us screen">
    <div class="overlap-group6">
        <div class="the-need-for-field-management-solutions poppins-medium-black-40px">
            We understand what you<br/>
            need in the field, let us help.
        </div>
        <div class="overlap-group7">
            <div class="overlap-group5">
                <div class="rectangle-237"></div>
                <img class="rectangle-243-1" src="~/lib/img/rectangle-243-1@1x.png" />
                <img class="rectangle-240" src="~/lib/img/rectangle-240@2x.png" />
                <img class="rectangle-241" src="~/lib/img/rectangle-241@2x.png" />
                <img class="rectangle-239" src="~/lib/img/rectangle-239@1x.png" />
                <img class="rectangle-242" src="~/lib/img/rectangle-242@2x.png" />
                <div class="group-606">
                    <div class="top-ideas poppins-normal-black-14px">TOP IDEAS</div>
                    <div class="legendary-support poppins-normal-black-27px">Legendary Support</div>
                    <p class="uleadz-provides-an-i poppins-normal-black-16px">
                        Uleadz provides an integrated and comprehensive workflow management<br />platform for small and medium
                        home service providers.<br /><br />Our Uleadz WFM platform essentially outsources the front desk needs
                        of<br />modern day small and medium home service providers.<br /><br />Our technology processes client
                        leads in a completely automated way,<br />optimizing sales conversion rates and dispersing workflows
                        within the<br />organization. This results in very substantial workforce-related cost savings.<br />Client
                        leads are allocated in a highly efficient way, prioritizing professionals<br />within the organization
                        according to geographic area and work type.
                    </p>
                    <a href="#">
                        <div class="frame-17">
                            <div class="start-now valign-text-middle poppins-semi-bold-white-16px">Start Now</div>
                        </div>
                    </a>
                        </div>
                <div class="ellipse-37"></div>
                <div class="ellipse-41"></div>
                <div class="ellipse-38"></div>
                <div class="ellipse-39"></div>
                <div class="ellipse-40"></div>
                <img class="supercup-1" src="~/lib/img/supercup-1@2x.png" />
            </div>
            <p class="in-2018-the-ucallz-e poppins-normal-black-15px">
                We have partnered up with the #1 Call Answering service in America, Ucallz. In 2018 the Ucallz team identified a significant unmet need in the US home services market – <br/> <br/>

                A lack of designated contact center and workflow management solutions for small and medium  home service providers (plumbers, constructors,  electricians, locksmiths, appliance repairers, carpet cleaners, garage door repairers, exterminators, gardeners, etc.) Our partnership has unveiled amazing knowledge to identify the very changing industry, adapt and pass that experience to our customers and associates, Giving birth to our fantastic state fo the art platform.
            </p>
        </div>
    </div>
    <div class="group-624">
        <a id="prev" class="prev disable"><img class="arrow-right" src="~/lib/img/arrow-right-6@2x.svg"></a>
        @*<img class="arrow-right" src="~/lib/img/arrow-right-6@2x.svg" />*@
        <div class="flex-col side" id="features">
        <a id="next" class="next"><img class="arrow-right-1" src="~/lib/img/arrow-right-5@2x.svg"></a>
            <div class="flex-row-1">
                <div class="flex-col-1">
                    <div class="testimonial poppins-normal-black-14px">TESTIMONIAL</div>
                    <div class="you-get-more-than-what-you-pay-for poppins-medium-black-50px">
                        We want your business to stride<br/>
                        and always succeed
                    </div>
                    <p class="we-will-take-care-of-everything-else poppins-normal-black-16px">
                        We will make sure your money is well worth the investment and take care of you<br/>
                        every step of the way.
                    </p>
                </div>
                <div class="overlap-group-1">
                    <img class="rectangle-258" src="~/lib/img/rectangle-258-3@2x.png" />
                    <img class="rectangle-259" src="~/lib/img/rectangle-259-1@2x.png" />
                    <img class="rectangle-260" src="~/lib/img/rectangle-260-1@2x.png" />
                </div>
            </div>
            <div class="group-622 paginations">

                <div class="overlap-group1 pagination" data-index="first">
                    <div class="if-you-are-looking valign-text-middle poppins-normal-black-18px ">
                        &#34;If you are looking to save time and be more organized with your business, this is what you are
                        looking for. Awesome system, very time saving and user friendly! Great to keep your business
                        organized!&#34;
                    </div>
                    <div class="overlap-group-2 ">
                        <div class="name valign-text-middle poppins-medium-black-16px">Michael Jones</div>
                        <div class="home-service-professional valign-text-middle poppins-normal-black-14px">
                            Home Service Professional
                        </div>
                    </div>
                </div>
                <div class="overlap-group2 pagination">
                    <div class="if-you-are-looking valign-text-middle poppins-normal-black-18px">
                        &#34;If you are looking to save time and be more organized with your business, this is what you are
                        looking for. Awesome system, very time saving and user friendly! Great to keep your business
                        organized!&#34;
                    </div>
                    <div class="overlap-group-3">
                        <div class="name valign-text-middle poppins-medium-black-16px">Josh Garcia</div>
                        <div class="field-technician valign-text-middle poppins-normal-black-14px">Field Technician</div>
                    </div>
                </div>

                @*copy*@

                <div class="overlap-group2 pagination">
                    <div class="if-you-are-looking valign-text-middle poppins-normal-black-18px ">
                        &#34;copy If you are looking to save time and be more organized with your business, this is what you are
                        looking for. Awesome system, very time saving and user friendly! Great to keep your business
                        organized!&#34;
                    </div>
                    <div class="overlap-group-2 ">
                        <div class="name valign-text-middle poppins-medium-black-16px">Michael Jones</div>
                        <div class="home-service-professional valign-text-middle poppins-normal-black-14px">
                            Home Service Professional
                        </div>
                    </div>
                </div>
                <div class="overlap-group2 pagination" data-index="last">
                    <div class="if-you-are-looking valign-text-middle poppins-normal-black-18px">
                        &#34; copy If you are looking to save time and be more organized with your business, this is what you are
                        looking for. Awesome system, very time saving and user friendly! Great to keep your business
                        organized!&#34;
                    </div>
                    <div class="overlap-group-3">
                        <div class="name valign-text-middle poppins-medium-black-16px">Josh Garcia</div>
                        <div class="field-technician valign-text-middle poppins-normal-black-14px">Field Technician</div>
                    </div>
                </div>

            </div>
        </div>

        @*<img class="arrow-right-1" src="~/lib/img/arrow-right-5@2x.svg" />*@
    </div>

</div>
