
<div class="container-center-horizontal">
    <div class="contact-mobile screen">
        @*<div class="flex-row">
            <div class="flex-col">
                <img class="image-1" src="~/lib/img/image-1@2x.png" />
                <div class="get-in-touch poppins-semi-bold-black-34px">Get in Touch</div>
            </div>
            <img class="menu" src="~/lib/img/menu@2x.png" />
        </div>*@
        <div class="group-629">
            <div class="overlap-group-1">
                <img class="rectangle-263" src="~/lib/img/rectangle-263@1x.png" />
                <img class="lightning-2" src="~/lib/img/lightning-2-2@2x.png" />
                <img class="lightning-3" src="~/lib/img/lightning-3-1@2x.png" />
            </div>
        </div>
        <div class="group-1865">
            <div class="overlap-group1">
                <div class="book-a-demo-with-an-expert poppins-medium-hunter-green-28px">
                    Book a demo with<br />an expert
                </div>
                <p class="enter-your-details poppins-normal-brilliant-rose-14px">
                    Enter your details, we’ll get back to you ASAP
                </p>
                <div class="group-1833">
                    <div class="your-name poppins-normal-delta-14px">Your Name</div>
                    <img class="line-63" src="~/lib/img/line-63@2x.png" />
                </div>
                <div class="group-183">
                    <div class="your-email poppins-normal-delta-14px">Your Email</div>
                    <img class="line-63" src="~/lib/img/line-63@2x.png" />
                </div>
                <div class="group-183">
                    <div class="your-company poppins-normal-delta-14px">Your Company</div>
                    <img class="line-63" src="~/lib/img/line-63@2x.png" />
                </div>
                <div class="group-183">
                    <p class="tell-us-about-your-project poppins-normal-delta-14px">Tell us about your project</p>
                    <img class="line-63" src="~/lib/img/line-63@2x.png" />
                </div>
                <div class="frame-5"><div class="schedule-demo poppins-normal-white-14px">Schedule Demo</div></div>
            </div>
        </div>
        <div class="group-1842">
            <div class="group-1841">
                <div class="group-1840">
                    <div class="group-634"></div>
                    <div class="infouleadzcom poppins-medium-white-20px">info@uleadz.com</div>
                </div>
                <div class="group-1839">
                    <img class="rectangle-264" src="~/lib/img/rectangle-264@2x.png" />
                    <div class="phone poppins-medium-white-20px">+1(844) 710-0403</div>
                </div>
                <div class="group-1838">
                    <img class="rectangle-266" src="~/lib/img/rectangle-266@2x.png" />
                    <div class="address poppins-medium-white-20px">
                        3111 Camino Del Rio N<br />#400, San Diego, CA<br />92108, USA
                    </div>
                </div>
            </div>
        </div>
        <div class="once-you-go-uleadz poppins-medium-hunter-green-28px">
            Once you go Uleadz,<br />you’ll never go back
        </div>
        <div class="group-601">
            <div class="overlap-group2">
                <img class="ellipse-22" src="~/lib/img/ellipse-22-11@2x.png" />
                <img class="ellipse-24" src="~/lib/img/ellipse-24-11@2x.png" />
                <img class="ellipse-23" src="~/lib/img/ellipse-23-11@2x.png" />
                <img class="mansgement-1" src="~/lib/img/mansgement-1-13@2x.png" />
                <img class="coins2-3" src="~/lib/img/coins2-3-13@2x.png" />
                <img class="coins2-4" src="~/lib/img/coins2-4-13@2x.png" />
            </div>
        </div>
        <div class="overlap-group8">
            <div class="surname poppins-medium-black-28px">Best Job Management<br />tool on the go</div>
            <div class="overlap-group3">
                <img class="mansgement-1-1" src="~/lib/img/mansgement-1-14@2x.png" />
                <img class="coins2-3-1" src="~/lib/img/coins2-3-14@2x.png" />
                <img class="coins2-4-1" src="~/lib/img/coins2-4-14@2x.png" />
            </div>
            <div class="overlap-group4">
                <p class="if-you-are-looking poppins-normal-black-14px">
                    &#34;If you are looking to save time and be more<br />organized with your business, this is what<br />you
                    are looking for. Awesome system, very<br />time saving and user friendly! Great to keep<br />your business
                    organized!&#34;
                </p>
                <div class="group-1824">
                    <img class="ellipse-42" src="~/lib/img/ellipse-42@2x.png" />
                    <div class="group-617">
                        <div class="overlap-group">
                            <div class="name valign-text-middle poppins-medium-black-12px">Josh Garcia</div>
                            <div class="field-technician valign-text-middle poppins-normal-black-12px">Field Technician</div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="a-super-powerful-das poppins-medium-black-28px">
                A super powerful <br />Dashboard, full of<br />Insights
            </div>
            <div class="overlap-group6">
                <img class="group-1-45" src="~/lib/img/group-1-45-9@2x.png" />
                <img class="rectangle-259" src="~/lib/img/rectangle-259-10@2x.png" />
                <img class="rectangle-260" src="~/lib/img/rectangle-260-10@2x.png" />
            </div>
            <div class="overlap-group5">
                <p class="if-you-are-looking poppins-normal-black-14px">
                    &#34;If you are looking to save time and be more<br />organized with your business, this is what<br />you
                    are looking for. Awesome system, very<br />time saving and user friendly! Great to keep<br />your business
                    organized!&#34;
                </p>
                <div class="group-1824">
                    <img class="ellipse-42" src="~/lib/img/ellipse-42@2x.png" />
                    <div class="group-617">
                        <div class="overlap-group">
                            <div class="name valign-text-middle poppins-medium-black-12px">Josh Garcia</div>
                            <div class="field-technician valign-text-middle poppins-normal-black-12px">Field Technician</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="so-what-are-you-waiting-for poppins-medium-black-34px">So, what are you<br />waiting for?</div>
        <div class="frame-6"><div class="book-your-demo-now poppins-normal-white-14px">Book your Demo now</div></div>
    
    </div>
</div>