<div class="container-center-horizontal">
    <div class="contact screen">

        <div class="flex-row-1">
            <div class="overlap-group1">
                <img class="lightning-2" src="~/lib/img/lightning-2-1@2x.png" />
                <img class="rectangle-263-1" src="~/lib/img/rectangle-263-1@2x.png" />
                <img class="lightning-3" src="~/lib/img/lightning-3@2x.png" />
            </div>
            <h1 class="get-in-touch">Get in<br />&nbsp;&nbsp;&nbsp;&nbsp; touch.</h1>
        </div>
        <div class="overlap-group8">
            <div class="flex-col">
                <div class="book-a-demo-with-an-expert poppins-medium-black-50px">Book a demo with an expert</div>
                <div class="overlap-group-container">
                    <div class="overlap-group">
                        <div class="enter-your-details poppins-medium-brilliant-rose-20px">
                            Enter your details, we’ll get back to you ASAP
                        </div>
                        <div class="group-630">
                            <div class="your poppins-normal-fuscous-gray-22px">Your Name</div>
                            <img class="line-63" src="~/lib/img/line-63@1x.svg" />
                        </div>
                        <div class="group-63">
                            <div class="your poppins-normal-fuscous-gray-22px">Your Email</div>
                            <img class="line-63" src="~/lib/img/line-63@1x.svg" />
                        </div>
                        <div class="group-63">
                            <div class="your poppins-normal-fuscous-gray-22px">Your Company</div>
                            <img class="line-63" src="~/lib/img/line-63@1x.svg" />
                        </div>
                        <div class="group-63">
                            <div class="your poppins-normal-fuscous-gray-22px">Tell us about your project</div>
                            <img class="line-63" src="~/lib/img/line-63@1x.svg" />
                        </div>
                        <div class="frame-17">
                            <div class="schedule-demo valign-text-middle poppins-semi-bold-white-16px">Schedule Demo</div>
                        </div>
                    </div>
                    <div class="overlap-group">
                        <div class="enter-your-details poppins-medium-brilliant-rose-20px">
                            Enter your details, we’ll get back to you ASAP
                        </div>
                        <div class="group-630">
                            <div class="your poppins-normal-fuscous-gray-22px">Your Name</div>
                            <img class="line-63" src="~/lib/img/line-63@1x.svg" />
                        </div>
                        <div class="group-63">
                            <div class="your poppins-normal-fuscous-gray-22px">Your Email</div>
                            <img class="line-63" src="~/lib/img/line-63@1x.svg" />
                        </div>
                        <div class="group-63">
                            <div class="your poppins-normal-fuscous-gray-22px">Your Company</div>
                            <img class="line-63" src="~/lib/img/line-63@1x.svg" />
                        </div>
                        <div class="group-63">
                            <div class="your poppins-normal-fuscous-gray-22px">Tell us about your project</div>
                            <img class="line-63" src="~/lib/img/line-63@1x.svg" />
                        </div>
                        <div class="frame-17">
                            <div class="schedule-demo valign-text-middle poppins-semi-bold-white-16px">Schedule Demo</div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="overlap-group9 poppins-medium-white-22px">
                <div class="group-634">
                    <img class="envelope-1" src="~/lib/img/envelope-1@2x.png" />
                    <div class="infouleadzcom poppins-medium-white-22px">info@uleadz.com</div>
                </div>
                <img class="rectangle-264" src="~/lib/img/rectangle-264@2x.png" />
                <div class="phone">+1(844) 710-0403</div>
                <img class="rectangle-266" src="~/lib/img/rectangle-266@2x.png" />
                <div class="address">3111 Camino Del Rio N<br />#400, San Diego, CA<br />92108, USA</div>
            </div>
        </div>
        <img class="image-2" src="~/lib/img/image-1-4@2x.png" />
        <div class="flex-row-2">
            <div class="overlap-group11">
                <div class="overlap-group7">
                    <div class="overlap-group4">
                        <img class="ellipse-22" src="~/lib/img/ellipse-22-6@1x.svg" />
                        <img class="ellipse-24" src="~/lib/img/ellipse-24-6@1x.svg" />
                        <img class="ellipse-23" src="~/lib/img/ellipse-23-6@2x.svg" />
                        <img class="mansgement-1" src="~/lib/img/mansgement-1-2@1x.png" />
                        <img class="coins2-3" src="~/lib/img/coins2-3-6@2x.png" />
                        <img class="coins2-4" src="~/lib/img/coins2-4-2@2x.png" />
                    </div>
                    <div class="once-you-go-uleadz poppins-medium-black-50px">Once you go Uleadz, you’ll never go back</div>
                </div>
                <img class="image-4" src="~/lib/img/image-3-1@2x.png" />
            </div>
            <img class="image-3" src="~/lib/img/image-3@2x.png" />
        </div>
        <div class="group-641">
            <div class="flex-col-1">
                <div class="flex-col-2">
                    <div class="flex-row-3">
                        <div class="flex-col-3">
                            <div class="surname">Best Job Management tool on the go</div>
                            <div class="overlap-group-1">
                                <div class="if-you-are-looking valign-text-middle poppins-normal-black-18px">
                                    &#34;If you are looking to save time and be more organized with your business, this is what you
                                    are looking for. Awesome system, very time saving and user friendly! Great to keep your business
                                    organized!&#34;
                                </div>
                                <div class="overlap-group-3">
                                    <div class="name valign-text-middle poppins-medium-black-16px">Michael Jones</div>
                                    <div class="home-service-professional valign-text-middle poppins-normal-black-14px">
                                        Home Service Professional
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="group-514">
                            <img class="coins2-4-1" src="~/lib/img/coins2-4@2x.png" />
                            <img class="mansgement-1-1" src="~/lib/img/mansgement-1@1x.png" />
                            <img class="coins2-3-1" src="~/lib/img/coins2-3@2x.png" />
                        </div>
                    </div>
                    <img class="rectangle-260" src="~/lib/img/rectangle-260-1@2x.png" />
                </div>
                <div class="flex-row-4">
                    <div class="flex-col-4">
                        <img class="group-1-45" src="~/lib/img/group-1-45@1x.png" />
                        <img class="rectangle-259" src="~/lib/img/rectangle-259-1@2x.png" />
                    </div>
                    <div class="flex-col-5">
                        <div class="a-super-powerful-f">A super powerful - full of Insights Dashboard</div>
                        <div class="overlap-group-1">
                            <div class="if-you-are-looking valign-text-middle poppins-normal-black-18px">
                                &#34;If you are looking to save time and be more organized with your business, this is what you are
                                looking for. Awesome system, very time saving and user friendly! Great to keep your business
                                organized!&#34;
                            </div>
                            <div class="overlap-group-4">
                                <div class="name valign-text-middle poppins-medium-black-16px">Josh Garcia</div>
                                <div class="field-technician valign-text-middle poppins-normal-black-14px">Field Technician</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="so-what-are-you-waiting-for poppins-medium-black-50px">So, what are you waiting for?</div>
        <div class="frame-17-1">
            <div class="book-your-demo-now valign-text-middle poppins-semi-bold-white-16px">Book Your Demo Now</div>
        </div>

    </div>
</div>
