<div class="container-center-horizontal">
    <div class="help-documentation screen">
        <div class="overlap-group7">
            @*<img class="image-1" src="~/lib/img/image-1-4@2x.png" />*@
            <div class="overlap-group5">
                @*<div class="menu poppins-medium-hunter-green-16px">
                        <div class="place">Home</div>
                        <div class="why-uleadz">Why Uleadz</div>
                        <div class="overlap-group-1 poppins-medium-hunter-green-16px">
                            <div class="pricing">Pricing</div>
                            <div class="place-1">Contact</div>
                            <div class="about-us">About Us</div>
                            <div class="help">Help</div>
                            <div class="group-584">
                                <div class="industries poppins-medium-hunter-green-16px">Industries</div>
                                <img class="line-42" src="~/lib/img/line-42-2@2x.svg" />
                            </div>
                        </div>
                    </div>*@
                <img class="book-4" src="~/lib/img/book-4-2@2x.png" />
                <img class="x1207_vw50a-x-rs-zw-qt-mg-1" src="~/lib/img/1207-vw50axrszwqtmg-1-1@1x.png" />
                <div class="rectangle-226"></div>
                <div class="overlap-group1">
                    <div class="rectangle-227"></div>
                    <input type="text" placeholder=" Type here to search info about a specific feature, for example “Call Secure”" class="type-here-to-search poppins-normal-mountain-mist-16px" />
                    @*<p class="type-here-to-search poppins-normal-mountain-mist-16px">
                        Type here to search info about a specific feature, for example “Call Secure”
                    </p>*@
                    <div class="rectangle-copy-15"></div>
                    <img class="search" src="~/lib/img/search@2x.svg" />
                    <div class="frame-17">
                        <div class="search-1 valign-text-middle poppins-medium-white-16px">Search</div>
                    </div>
                </div>
                <div class="group-575">
                    <div class="overlap-group"><img class="new-1" src="~/lib/img/new-1@2x.png" /></div>
                    <div class="what-is-new-in-uleadz poppins-normal-black-20px">What is new in Uleadz?</div>
                    <p class="try-uleadzs-compreh poppins-normal-black-14px">
                        Try Uleadz’s comprehensive tools<br />for contractors to manage job<br />schedules, customers, and
                        teams<br />or field crews, all from one <br />software app.
                    </p>
                </div>
                <div class="group-575-1">
                    <div class="overlap-group"><img class="video-tutorial-1" src="~/lib/img/video-tutorial-1@2x.png" /></div>
                    <div class="quick-start-tutorial poppins-normal-black-20px">Quick start tutorial</div>
                    <p class="try-uleadzs-compreh poppins-normal-black-14px">
                        Try Uleadz’s comprehensive tools<br />for contractors to manage job<br />schedules, customers, and
                        teams<br />or field crews, all from one <br />software app.
                    </p>
                </div>
                <div class="group-575-2">
                    <div class="overlap-group-2"><img class="operating-system-1" src="~/lib/img/operating-system-1@2x.png" /></div>
                    <div class="system-requirements-and-recommendations poppins-normal-black-20px">
                        System Requirements and Recommendations
                    </div>
                    <p class="try-uleadzs-compreh-1 poppins-normal-black-14px">
                        Try Uleadz’s comprehensive tools<br />for contractors to manage job<br />schedules, customers, and
                        teams<br />or field crews, all from one <br />software app.
                    </p>
                </div>
                <div class="group-575-3">
                    <div class="overlap-group-3"><img class="dictionary-1" src="~/lib/img/dictionary-1@2x.png" /></div>
                    <div class="uleadz-glossary poppins-normal-black-20px">Uleadz Glossary</div>
                    <p class="try-uleadzs-compreh-2 poppins-normal-black-14px">
                        Try Uleadz’s comprehensive tools<br />for contractors to manage job<br />schedules, customers, and
                        teams<br />or field crews, all from one <br />software app.
                    </p>
                </div>
            </div>
            <div class="how-can-we-help-you-today poppins-medium-black-50px">How can we help you today?</div>
            <p class="the-help-and-documen poppins-normal-black-15px">
                The help and documentation pages is to make your life easier.<br />Uleadz documents every new feature
                released and explain it in an<br />easy to understand way so you can take adventage of the lastest features.
            </p>
        </div>
        <div class="featured-content poppins-medium-black-40px">Featured Content</div>
        <div class="flex-row poppins-medium-royal-blue-24px">
            <div class="improved-call-secure">Improved Call Secure</div>
            <div class="automating-joby">Automating Joby</div>
        </div>
        <div class="ing-container poppins-medium-royal-blue-24px">
            <div class="setting-up-a-new-phone">Setting up a new phone</div>
            <div class="scheduling-a-job">Scheduling a job</div>
        </div>
        <div class="flex-row-1 poppins-medium-royal-blue-24px">
            <div class="multiple-technicians-in-a-company">Multiple technicians in a&nbsp;&nbsp;company</div>
            <div class="reports-and-statistics">Reports and Statistics</div>
        </div>
        <div class="flex-row-2 poppins-medium-royal-blue-24px">
            <div class="troubleshooting-20">Troubleshooting 2.0</div>
            <div class="employee-sign-in">Employee sign in</div>
        </div>
        <div class="flex-row-3 poppins-medium-royal-blue-24px">
            <div class="ap-is-and-more">API’s and more</div>
            <div class="connecting-multiple-accounts">Connecting multiple accounts</div>
        </div>
        <div class="frame-17-1 border-1px-brilliant-rose">
            <div class="show-all-featured-content valign-text-middle">Show all featured content</div>
        </div>
        <div class="overlap-group-container">
            <div class="overlap-group2">
                <div class="didnt-find-what-you poppins-medium-black-40px">
                    Didn’t find what you need? We are here to help
                </div>
                <div class="overlap-group-4">
                    <div class="enter-your-details poppins-medium-brilliant-rose-20px">
                        Enter your details, we’ll get back to you ASAP
                    </div>
                    <div class="group-630">
                        <input type="text" placeholder="Your Name" class="your-name poppins-normal-fuscous-gray-22px" />
                        @*<div class="your-name poppins-normal-fuscous-gray-22px">Your Name</div>*@
                        <img class="line-63" src="~/lib/img/line-63@1x.svg" />
                    </div>
                    <div class="group-63">
                        <input type="email" placeholder="Your Email" class="your-email poppins-normal-fuscous-gray-22px" />
                        @*<div class="your-email poppins-normal-fuscous-gray-22px">Your Email</div>*@
                        <img class="line-63" src="~/lib/img/line-63@1x.svg" />
                    </div>
                    <div class="group-63">
                        <input type="text" placeholder="Your Company" class="your-company poppins-normal-fuscous-gray-22px" />
                        @*<div class="your-company poppins-normal-fuscous-gray-22px">Your Company</div>*@
                        <img class="line-63" src="~/lib/img/line-63@1x.svg" />
                    </div>
                    <div class="group-63">
                        <input type="text" placeholder="Tell us how we can help" class="tell-us-how-we-can-help poppins-normal-fuscous-gray-22px" />
                        @*<div class="tell-us-how-we-can-help poppins-normal-fuscous-gray-22px">Tell us how we can help</div>*@
                        <img class="line-63" src="~/lib/img/line-63@1x.svg" />
                    </div>
                    <div class="frame-17-2">
                        <div class="place-2 valign-text-middle poppins-semi-bold-white-16px">Send</div>
                    </div>
                </div>
            </div>
            @*<div class="overlap-group4 poppins-normal-white-16px">
                    <img class="rectangle-170" src="~/lib/img/rectangle-170@1x.svg" />
                    <img class="line-41" src="~/lib/img/line-41@1x.svg" />
                    <div class="group-484">
                        <div class="stay-ahead-of-the-ga poppins-medium-white-47px">
                            Stay ahead of the game<br />with Uleadz Field Management Software
                        </div>
                        <div class="frame-16">
                            <div class="contact-us valign-text-middle poppins-medium-white-16px">Contact Us</div>
                        </div>
                    </div>
                    <div class="group-486">
                        <div class="place-3 valign-text-middle">Home</div>
                        <div class="why-uleadz-1 valign-text-middle">Why Uleadz?</div>
                        <div class="about-us-1 valign-text-middle">About Us</div>
                        <div class="place-4 valign-text-middle">Contact</div>
                        <div class="pricing-1 valign-text-middle">Pricing</div>
                    </div>
                    <div class="group-485 poppins-normal-white-16px">
                        <div class="industries-1 valign-text-middle">Industries</div>
                        <div class="terms-of-use valign-text-middle">Terms of use</div>
                        <div class="privacy-policy valign-text-middle">Privacy Policy</div>
                        <div class="support valign-text-middle">Support</div>
                    </div>
                    <div class="hellouleadzcom valign-text-middle">hello@uleadz.com</div>
                    <div class="group-144">
                        <div class="overlap-group-5"><img class="group-143" src="~/lib/img/group-143-2@2x.svg" /></div>
                        <div class="overlap-group3"><img class="group" src="~/lib/img/group-4@2x.svg" /></div>
                        <div class="overlap-group1-1">
                            <img class="twitter-logowine-1" src="~/lib/img/twitter-logo-wine-1@2x.svg" />
                        </div>
                        <div class="overlap-group2-1">
                            <img class="you-tube-icon-almost-black-logowine-1"
                                 src="~/lib/img/youtube-icon-almost-black-logo-wine-1-3@2x.svg" />
                        </div>
                    </div>
                    <img class="uleadz1-1" src="~/lib/img/uleadz1-1@2x.png" />
                </div>*@
        </div>
    </div>
</div>
