<div class="container-center-horizontal">
    <div class="homepage-mobile-op-2 screen">
        @*<div class="flex-row">
            <img class="image-1" src="~/lib/img/image-1@2x.png" />
            <img class="menu" src="~/lib/img/menu@2x.png" />
        </div>*@
        <div class="overlap-group9">
            <div class="overlap-group">
                <div class="ellipse-21"></div>
                <img class="coins2-1" src="~/lib/img/coins2-1-3@2x.png" />
                <img class="coins2-2" src="~/lib/img/coins2-2-3@2x.png" />
                <img class="coins2-5" src="~/lib/img/coins2-5-18@2x.png" />
                <img class="iphone-12-pro-in-hand-free-mockup-1" src="~/lib/img/iphone-12-pro-in-hand-free-mockup-1-3@2x.png" />
                <div class="group-497"><img class="polygon-1" src="~/lib/img/polygon-1-3@2x.png" /></div>
            </div>
            <div class="the-easiest-way-to-g poppins-semi-bold-black-34px">
                The Easiest Way<br />To Grow Your<br />Service Business
            </div>
        </div>
        <div class="overlap-group8">
            <p class="schedule-jobs-get-p poppins-normal-black-14px">
                Schedule jobs, get paid in the field and grow<br />your business with Uleadz field service software,<br />trusted
                by hundreds of service pros and technicians.
            </p>
            <a href="https://apps.apple.com/us/app/uleadz/id1568932762">
                <div class="frame-2">
                    <img class="vector" src="~/lib/img/vector-4@2x.png" />

                    <div class="download-for-i-os poppins-normal-white-16px">Download for iOS</div>
                </div>
            </a>
            <a href="https://play.google.com/store/apps/details?id=com.yahlli.uleadz">
                <div class="overlap-group4">
                    <img class="group-2" src="~/lib/img/group-2-3@2x.png" />
                    <div class="download-for-android poppins-normal-white-16px">Download for Android</div>
                </div>
                </a>
        </div>
        <div class="group-1736">
            <div class="overlap-group3">
                <div class="get-your-business-under-control poppins-medium-black-28px">
                    Get your business<br />under control
                </div>
                <div class="overlap-group-1">
                    <div class="rectangle-171"></div>
                    <div class="enhance-your-management-team poppins-medium-black-20px">
                        Enhance your<br />management team
                    </div>
                    <p class="maximize-your-manage poppins-normal-black-14px">
                        Maximize your management team’s<br />output by centralizing all of your data<br />and business
                        processes. Create powerful<br />reports with customizable dashboards,<br />manage your assets
                        seamlessly,
                    </p>
                    <img class="graphic_1-1-1" src="~/lib/img/graphic-1-1-1-3@2x.png" />
                </div>
                <div class="overlap-group1">
                    <img class="graphic_1-1-2" src="~/lib/img/graphic-1-1-2-3@2x.png" />
                    <div class="set-jobs-up-for-success poppins-medium-black-20px">Set jobs up for success</div>
                    <p class="easily-manage-hundre poppins-normal-black-14px">
                        Easily manage hundreds of jobs at a<br />time&nbsp;&nbsp;and set them up to make a profit.
                    </p>
                </div>
                <div class="overlap-group2">
                    <img class="graphic_1-1-3" src="~/lib/img/graphic-1-1-3-3@2x.png" />
                    <div class="invoice-and-get-paid poppins-medium-black-20px">Invoice and Get Paid</div>
                    <p class="uleadz-field-service poppins-normal-black-14px">
                        Uleadz field service management<br />software makes it easy to take payments<br />in the field, track
                        invoices and make sure<br />you collect the money you’re owed.
                    </p>
                </div>
                <a href="#">
                    <div class="frame-4"><div class="browse-more poppins-normal-white-14px">Browse More</div></div>
                    </a>
                    </div>
        </div>
        <div class="group-1740">
            <img class="internet" src="~/lib/img/internet-7@2x.png" />
            <div class="automate-your-day valign-text-middle poppins-normal-black-21px">Automate Your Day</div>
        </div>
        <div class="group-1742">
            <div class="overlap-group5">
                <div class="ellipse-22"></div>
                <img class="coins2-3" src="~/lib/img/coins2-3-8@2x.png" />
                <img class="coins2-4" src="~/lib/img/coins2-4-8@2x.png" />
                <img class="mansgement-1" src="~/lib/img/mansgement-1-8@2x.png" />
            </div>
        </div>
        <div class="group-1763">
            <p class="lorem-ipsum-dolor-si poppins-normal-black-14px">
                Lorem ipsum dolor sit amet, consectetur<br />adipiscing elit, sed do eiusmod tempor<br />incididunt ut
                labore et dolore magna aliqua.<br />Ut enim ad minim veniam, quis nostrud<br />exercitation ullamco laboris
                nisi ut aliquip ex<br />ea commodo consequat.
            </p>
            <div class="group-1760">
                <div class="group-282"><img class="friends" src="~/lib/img/friends-9@2x.png" /></div>
                <p class="instantly-fill-out-f poppins-normal-black-14px">
                    Instantly fill out forms with autofill, job<br />templates, and product/material groups.
                </p>
            </div>
            <div class="group-1761">
                <div class="group-282-1"><img class="friends" src="~/lib/img/friends-10@2x.png" /></div>
                <p class="alert-technicians-of poppins-normal-black-14px">
                    Alert technicians of newly assigned<br />jobs automatically.
                </p>
            </div>
            <div class="group-1762">
                <div class="group-282-2"><img class="friends" src="~/lib/img/friends-11@2x.png" /></div>
                <span class="automate-customer-reminders poppins-normal-black-14px">Automate customer reminders</span>
            </div>
            <a href="#">
                <div class="frame-16">
                    <div class="learn-more valign-text-middle poppins-medium-white-10px">Learn More</div>
                </div>
                </a>
        </div>
        <div class="group-1747">
            <div class="group-1746">
                <div class="top-features-weve poppins-medium-black-28px">
                    Top Features - We’ve<br />got the digital tools your<br />business needs!
                </div>
                <div class="group-492">
                    <img class="coins2-5-1" src="~/lib/img/coins2-5-19@2x.png" />
                    <div class="group-489">
                        <div class="scheduling-an-dispatching poppins-semi-bold-black-24px">Scheduling an Dispatching</div>
                        <p class="send-the-right-techn poppins-normal-shark-14px">
                            Send the right technician at the right time. <br />Keep track of all work requests and never<br />never
                            lose track of a job again.
                        </p>
                    </div>
                </div>
                <div class="group-1743">
                    <img class="coins2-5-2" src="~/lib/img/coins2-5-20@2x.png" />
                    <div class="group-489-1">
                        <div class="estimates-and-invoicing poppins-semi-bold-black-24px">Estimates and Invoicing</div>
                        <p class="email-or-fax-estimat poppins-normal-shark-14px">
                            Email or Fax estimates/ invoices to the customers<br />directly from your mobile device. Set
                            payment<br />terms, add billing methods, etc.
                        </p>
                    </div>
                </div>
                <div class="group-1744">
                    <img class="coins2-5-3" src="~/lib/img/coins2-5-21@2x.png" />
                    <div class="group-489-2">
                        <div class="work-order-management poppins-semi-bold-black-24px">Work Order Management</div>
                        <p class="manage-your-workforc poppins-normal-shark-14px">
                            Manage your workforce, time and cost efficiently.<br />Enable your team to book more jobs<br />and
                            help automate service requests.
                        </p>
                    </div>
                </div>
                <div class="group-1745">
                    <img class="coins2-5-4" src="~/lib/img/coins2-5-22@2x.png" />
                    <div class="group-489-3">
                        <div class="dashboard-and-analytics poppins-semi-bold-black-24px">Dashboard and Analytics</div>
                        <p class="email-or-fax-estimat poppins-normal-shark-14px">
                            Email or Fax estimates/ invoices to the customers<br />directly from your mobile device. Set
                            payment<br />terms, add billing methods, etc.
                        </p>
                    </div>
                </div>
            </div>
        </div>
        <div class="group-1740-1">
            <img class="internet" src="~/lib/img/internet-8@2x.png" />
            <div class="an-app-build-specifi valign-text-middle poppins-normal-black-21px">
                An App build specifically<br />for your business
            </div>
        </div>
        <div class="group-1749">
            <div class="overlap-group6">
                <div class="ellipse-23"></div>
                <img class="coins2-6" src="~/lib/img/coins2-6-10@2x.png" />
                <img class="group-1-45" src="~/lib/img/group-1-45-5@2x.png" />
                <img class="coins2-5-5" src="~/lib/img/coins2-5-23@2x.png" />
            </div>
        </div>
        <div class="group-1756">
            <p class="l-uleadz-guarantees-t poppins-normal-black-14px">
                LUleadz guarantees to provide you with the<br />best Field Service Workforce Management App<br />&amp;
                Scheduling Software that addresses your<br />unique, industry-specific needs to give your<br />company a new
                sense of liberation. We provide<br />you with all the useful resources that can help<br />you to automate
                your business workflows and<br />optimize your workforce.
            </p>
            <a href="#">
                <div class="frame-16-1">
                    <div class="learn-more valign-text-middle poppins-medium-white-10px">Learn More</div>
                </div>
                </a>
        </div>
       
    </div>
    </div>
