<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Uleadz</title>
    @*<link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />*@

    <link rel="stylesheet" type="text/css" href="~/css/app/styleguide.css" />
    <link rel="stylesheet" type="text/css" href="~/css/app/globals.css" />
    @await RenderSectionAsync("styles", required: false)
</head>
<body>


    @if (Context.Request.IsMobileBrowser())
    {
        <partial name="_MenuMobile" />
    }
    else
    {
        <partial name="_Menu" />
    }

        <div class="container-center-horizontal">

            @RenderBody()

        </div>

    }

    @if (Context.Request.IsMobileBrowser())
    {
        <partial name="_FooterMobile" />
    }
    else
    {
        <partial name="_Footer" />
    }

   
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>

    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
