<header class="nav">
    <div class="menu-nav poppins-medium-hunter-green-16px">
        <a href="/index"><div class="link">Home</div></a>
        <a href="/why-uleadz">
            <div class="link">Why Uleadz</div>
        </a>
        <a href="/industries-locksmith">
            <div class="link">Industries</div>
        </a>
        <a href="/about-us">
            <div class="link">
                About Us
            </div>
        </a>
        <a href="/pricing">
            <div class="link">Pricing</div>
        </a>
        <a href="/contact">
            <div class="link">Contact</div>
        </a>
        <a href="/help-documentation">
            <div class="link">Help</div>
        </a>
    </div>
    <img class="image-1" src="~/lib/img/image-1@2x.png" />
</header>