
<div class="container-center-horizontal">
    <div class="pricing screen">
        <div class="plans-and-pricing poppins-medium-black-50px">Plans and Pricing</div>
        <p class="uleadz-comes-in-4-ve poppins-normal-black-15px">
            Uleadz comes in 4 versions, depending on the features you require.
        </p>
        <div class="overlap-group7">
            <div class="group-615">
                <div class="overlap-group-container">
                    <div class="overlap-group-1">
                        <div class="flex-row-1">
                            <img class="rectangle-25" src="~/lib/img/rectangle-250@2x.png" />
                            <div class="flex-col-1">
                                <div class="basic poppins-medium-black-20px">Basic</div>
                                <div class="free-billed-monthly poppins-medium-white-16px-2">
                                    <span class="span0 poppins-medium-black-16px">Free</span>
                                    <span class="span1 poppins-normal-mist-gray-14px">/ Billed Monthly</span>
                                </div>
                            </div>
                        </div>
                        <img class="line" src="~/lib/img/line-58@2x.png" />
                        <div class="group-608">
                            <div class="verify-container-1">
                                <img class="verify" src="~/lib/img/verify@2x.png" />
                                <img class="verify-1" src="~/lib/img/verify-3@2x.png" />
                                <img class="verify-1" src="~/lib/img/verify-1@2x.png" />
                                <img class="verify-1" src="~/lib/img/verify-4@2x.png" />
                                <img class="verify-1" src="~/lib/img/verify-2@2x.png" />
                                <img class="verify-1" src="~/lib/img/verify-5@2x.png" />
                            </div>
                            <div class="flex-col-2 poppins-normal-black-16px">
                                <div class="standard-features">Standard features</div>
                                <div class="address">1 user</div>
                                <p class="up-to-3-technicians">Up to 3 technicians</p>
                                <div class="up-to-500-sms">Up to 500 SMS</div>
                                <div class="up-to-500-minutes">Up to 500 minutes</div>
                                <div class="address-1">1 dedicated line</div>
                            </div>
                        </div>
                        <a href="#">
                            <div class="frame-18">
                                <div class="choose-plan poppins-normal-white-16px">Choose Plan</div>
                                <img class="arrow-right" src="~/lib/img/arrow-right@2x.png" />
                                @*<img class="arrow-right-1" src="~/lib/img/arrow-right@2x.svg" />*@
                            </div>
                            </a>
                    </div>
                    <div class="overlap-group1">
                        <div class="flex-row-2">
                            <img class="rectangle-25" src="~/lib/img/rectangle-254@2x.png" />
                            <div class="flex-col-3">
                                <div class="pro poppins-medium-black-20px">Pro</div>
                                <div class="x119-billed-monthly poppins-medium-white-16px-2">
                                    <span class="span0 poppins-medium-black-16px">$119</span>
                                    <span class="span1 poppins-normal-mist-gray-14px">/ Billed Monthly</span>
                                </div>
                            </div>
                        </div>
                        <img class="line" src="~/lib/img/line-58@2x.png" />
                        <div class="group-6">
                            <div class="verify-container">
                                <img class="verify" src="~/lib/img/verify@2x.png" />
                                <img class="verify-1" src="~/lib/img/verify-3@2x.png" />
                                <img class="verify-1" src="~/lib/img/verify-1@2x.png" />
                                <img class="verify-1" src="~/lib/img/verify-4@2x.png" />
                                <img class="verify-1" src="~/lib/img/verify-2@2x.png" />
                                <img class="verify-1" src="~/lib/img/verify-5@2x.png" />
                                <img class="verify-1" src="~/lib/img/verify-9@2x.png" />
                                <img class="verify-1" src="~/lib/img/verify-13@2x.png" />
                                <img class="verify-1" src="~/lib/img/verify-14@2x.png" />
                            </div>
                            <div class="flex-col poppins-normal-black-16px">
                                <div class="standard-features-1">Standard features</div>
                                <div class="address-2">5 users</div>
                                <div class="unlimited-technicians">Unlimited technicians</div>
                                <div class="address-3">3000 SMS</div>
                                <div class="address-4">3000 minutes</div>
                                <div class="address-5">5 dedicated lines</div>
                                <div class="joby">Joby</div>
                                <div class="call-masking">Call Masking</div>
                                <div class="x247-live-support">24/7 live support</div>
                            </div>
                        </div>
                      
                        <a href="#">
                            <div class="frame-2">
                                <div class="choose-plan poppins-normal-white-16px">Choose Plan</div>
                                <img class="arrow-right" src="~/lib/img/arrow-right@2x.png" />
                            </div>
                            </a>
                    </div>
                    <div class="overlap-group3">
                        <div class="place-2 poppins-medium-white-22px">Standard</div>
                        <div class="x49-billed-monthly">
                            <span class="span0-1">$49</span> <span class="span1-1"></span>
                            <span class="span2">/ Billed Monthly</span>
                        </div>
                        <img class="line-59" src="~/lib/img/line-59@2x.png" />
                        <div class="group-607">
                            <div class="verify-container-2">
                                <img class="verify-4" src="~/lib/img/verify-24@2x.png" />
                                <img class="verify-2" src="~/lib/img/verify-28@2x.png" />
                                <img class="verify-2" src="~/lib/img/verify-25@2x.png" />
                                <img class="verify-3" src="~/lib/img/verify-29@2x.png" />
                                <img class="verify-2" src="~/lib/img/verify-26@2x.png" />
                                <img class="verify-3" src="~/lib/img/verify-30@2x.png" />
                                <img class="verify-2" src="~/lib/img/verify-27@2x.png" />
                                <img class="verify-3" src="~/lib/img/verify-31@2x.png" />
                                <img class="verify-2" src="~/lib/img/verify-32@2x.png" />
                            </div>
                            <div class="flex-col-4 poppins-normal-white-17px">
                                <div class="standard-features-2">Standard features</div>
                                <div class="flex-col-item">3 users</div>
                                <div class="flex-col-item">Unlimited technicians</div>
                                <div class="flex-col-item">1500 SMS</div>
                                <div class="flex-col-item">1500 minutes</div>
                                <div class="flex-col-item">2 dedicated lines</div>
                                <div class="flex-col-item">Joby</div>
                                <div class="flex-col-item">Call Secure</div>
                                <div class="flex-col-item">24/7 live support</div>
                            </div>
                        </div>
                        <a href="#">
                            <div class="frame-19">
                                <div class="choose-plan-1">Choose Plan</div>
                                <img class="arrow-right-2" src="~/lib/img/arrow-right-2@2x.png" />
                            </div>
                            </a>
                    </div>
                </div>
                <div class="overlap-group2">
                    <div class="flex-row-3">
                        <img class="rectangle-25" src="~/lib/img/rectangle-254@2x.png" />
                        <div class="flex-col-5">
                            <div class="premium poppins-medium-black-20px">Premium</div>
                            <div class="x219-billed-monthly poppins-medium-white-16px-2">
                                <span class="span0 poppins-medium-black-16px">$219</span>
                                <span class="span1 poppins-normal-mist-gray-14px">/ Billed Monthly</span>
                            </div>
                        </div>
                    </div>
                    <img class="line" src="~/lib/img/line-58@2x.png" />
                    <div class="group-6">
                        <div class="verify-container">
                            <img class="verify" src="~/lib/img/verify@2x.png" />
                            <img class="verify-1" src="~/lib/img/verify-3@2x.png" />
                            <img class="verify-1" src="~/lib/img/verify-1@2x.png" />
                            <img class="verify-1" src="~/lib/img/verify-4@2x.png" />
                            <img class="verify-1" src="~/lib/img/verify-2@2x.png" />
                            <img class="verify-1" src="~/lib/img/verify-5@2x.png" />
                            <img class="verify-1" src="~/lib/img/verify-9@2x.png" />
                            <img class="verify-1" src="~/lib/img/verify-13@2x.png" />
                            <img class="verify-1" src="~/lib/img/verify-14@2x.png" />
                        </div>
                        <div class="flex-col poppins-normal-black-16px">
                            <div class="standard-features-3">Standard features</div>
                            <div class="address-6">15 users</div>
                            <div class="unlimited-technicians-1">Unlimited technicians</div>
                            <div class="address-7">6000 SMS</div>
                            <div class="address-8">6000 minutes</div>
                            <div class="address-9">15 dedicated lines</div>
                            <div class="joby-1">Joby</div>
                            <div class="call-masking-1">Call Masking</div>
                            <div class="x247-live-support-1">24/7 live support</div>
                        </div>
                    </div>
                    <a href="#">
                        <div class="frame-2">
                            <div class="choose-plan poppins-normal-white-16px">Choose Plan</div>
                            <img class="arrow-right" src="~/lib/img/arrow-right@2x.png" />
                        </div>
                        </a>
                </div>
            </div>
            <div class="frame-22"><div class="popular">Popular</div></div>
            <img class="rectangle-252" src="~/lib/img/rectangle-252@2x.png" />
        </div>
        <div class="group-624">
            <div class="group-623">
                <a id="prev" class="prev disable"><img class="arrow-right-3" src="~/lib/img/arrow-right-4@2x.png" /></a>
                @*<img class="arrow-right-3" src="~/lib/img/arrow-right-4@2x.png" />*@
            <div class="flex-col-6 side" id="features">
                <a id="next" class="next"><img class="arrow-right-4" src="~/lib/img/arrow-right-3@2x.png" /></a>

                <div class="flex-row-4">
                    <div class="flex-col-7">
                        <div class="testimonial poppins-normal-black-14px">TESTIMONIAL</div>
                        <div class="you-get-more-than-what-you-pay-for poppins-medium-black-50px">
                            You get more than what<br />you pay for
                        </div>
                        <p class="we-will-take-care-of-everything-else poppins-normal-black-16px">
                            We will take care of everything else
                        </p>
                    </div>
                    <div class="overlap-group-2">
                        <img class="rectangle-258" src="~/lib/img/rectangle-258-2@2x.png" />
                        <img class="rectangle-259" src="~/lib/img/rectangle-259-1@2x.png" />
                        <img class="rectangle-260" src="~/lib/img/rectangle-260-1@2x.png" />
                    </div>
                </div>
                <div class="group-622  paginations">
                    <div class="group-621 pagination" data-index="first">
                        <div class="overlap-group">
                            <div class="if-you-are-looking valign-text-middle poppins-normal-black-18px">
                                &#34;If you are looking to save time and be more organized with your business, this is what you
                                are looking for. Awesome system, very time saving and user friendly! Great to keep your business
                                organized!&#34;
                            </div>
                            <div class="group-618">
                                <div class="group-617">
                                    <div class="overlap-group-3">
                                        <div class="name valign-text-middle poppins-medium-black-16px">Michael Jones</div>
                                        <div class="home-service-professional valign-text-middle poppins-normal-black-14px">
                                            Home Service Professional
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="group-620 pagination">
                        <div class="overlap-group">
                            <div class="if-you-are-looking valign-text-middle poppins-normal-black-18px">
                                &#34;If you are looking to save time and be more organized with your business, this is what you
                                are looking for. Awesome system, very time saving and user friendly! Great to keep your business
                                organized!&#34;
                            </div>
                            <div class="group-619">
                                <div class="group-617-1">
                                    <div class="overlap-group-4">
                                        <div class="name valign-text-middle poppins-medium-black-16px">Josh Garcia</div>
                                        <div class="field-technician valign-text-middle poppins-normal-black-14px">
                                            Field Technician
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    @*copy*@
                    <div class="group-620 pagination">
                        <div class="overlap-group">
                            <div class="  if-you-are-looking valign-text-middle poppins-normal-black-18px">
                                &#34; copy If you are looking to save time and be more organized with your business, this is what you
                                are looking for. Awesome system, very time saving and user friendly! Great to keep your business
                                organized!&#34;
                            </div>
                            <div class="group-618">
                                <div class="group-617">
                                    <div class="overlap-group-3">
                                        <div class="name valign-text-middle poppins-medium-black-16px">Michael Jones</div>
                                        <div class="home-service-professional valign-text-middle poppins-normal-black-14px">
                                            Home Service Professional
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="group-620 pagination" data-index="last">
                        <div class="overlap-group">
                            <div class="if-you-are-looking valign-text-middle poppins-normal-black-18px">
                                &#34; copy If you are looking to save time and be more organized with your business, this is what you
                                are looking for. Awesome system, very time saving and user friendly! Great to keep your business
                                organized!&#34;
                            </div>
                            <div class="group-619">
                                <div class="group-617-1">
                                    <div class="overlap-group-4">
                                        <div class="name valign-text-middle poppins-medium-black-16px">Josh Garcia</div>
                                        <div class="field-technician valign-text-middle poppins-normal-black-14px">
                                            Field Technician
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
                @*<img class="arrow-right-4" src="~/lib/img/arrow-right-3@2x.png" />*@
            </div>
        </div>
        <div class="overlap-group8">
            <div class="rectangle-222"></div>
            <img class="rectangle-223-1" src="~/lib/img/rectangle-223-1@1x.png" />
            <div class="group-628">
                <div class="group-572">
                    <div class="group-571">
                        <div class="we-have-defined-a-co valign-text-middle poppins-medium-hunter-green-36px">
                            We have defined a collaborative<br />process with our clients. Let’s see if <br />we are a fit.
                        </div>
                        <img class="line-22" src="~/lib/img/line-22@2x.png" />
                        <div class="flex-row-5">
                            <img class="line-23" src="~/lib/img/line-23@2x.png" />
                            <div class="are-there-any-commitments-or-contracts valign-text-middle poppins-medium-hunter-green-24px">
                                Are there any commitments or contracts?
                            </div>
                        </div>
                        <div class="if-you-sign-up-for-u poppins-normal-hunter-green-20px">
                            If you sign up for Uleadz monthly subscription, you can<br />cancel your subscription at any time
                            without penalty.
                        </div>
                        <div class="group-570">
                            <div class="group-569">
                                <div class="group-48">
                                    <div class="line-container">
                                        <img class="line-24" src="~/lib/img/line-23@2x.png" />
                                        <img class="line-25" src="~/lib/img/line-25@2x.png" />
                                    </div>
                                </div>
                                <div class="can-i-change-plans poppins-medium-hunter-green-24px">Can I change plans?</div>
                            </div>
                            <div class="group-568">
                                <div class="group-48">
                                    <div class="line-container">
                                        <img class="line-24" src="~/lib/img/line-23@2x.png" />
                                        <img class="line-25" src="~/lib/img/line-25@2x.png" />
                                    </div>
                                </div>
                                <div class="what-happens-if-i-go-over-my-plan poppins-medium-hunter-green-24px">
                                    What happens if I go over my plan?
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <a href="#">
                    <div class="frame-17">
                        <div class="book-a-demo valign-text-middle poppins-semi-bold-white-16px">Book a Demo</div>
                    </div>
                    </a>
            </div>
        </div>
   
    </div>
</div>
