
<div class="container-center-horizontal">
    <div class="why-uleadz-mobile screen">
        @*<div class="flex-row">
            <img class="image-1" src="~/lib/img/image-1@2x.png" />
            <img class="menu" src="~/lib/img/menu-8@2x.png" />
        </div>*@
        <div class="a-service-software-b poppins-semi-bold-black-34px">
            A Service Software<br />Built For Your<br />Industry
        </div>
        <p class="uleadz-is-the-ultima poppins-normal-black-14px">
            Uleadz is the ultimate field management service software for contractors that connects every part of your
            business on one simple, yet powerful system.
        </p>
        <a href="#">
            <div class="frame-4"><div class="start-today poppins-normal-white-14px">Start today</div></div>
        </a>
        <div class="group-551">
            <div class="flex-col">
                <div class="overlap-group-1">
                    <div class="ellipse-25"></div>
                    <img class="book-1" src="~/lib/img/book-1-2@2x.png" />
                </div>
                <img class="arrow-1" src="~/lib/img/arrow-1-1@2x.png" />
            </div>
            <div class="overlap-group3">
                <div class="ellipse-26"></div>
                <img class="book-2" src="~/lib/img/book-2-1@2x.png" />
            </div>
            <img class="arrow-2" src="~/lib/img/arrow-2-1@2x.png" />
            <div class="overlap-group2">
                <div class="ellipse-27"></div>
                <img class="book-3" src="~/lib/img/book-3-2@2x.png" />
            </div>
            <img class="arrow-3" src="~/lib/img/arrow-3-1@2x.png" />
            <div class="overlap-group1">
                <div class="ellipse-28"></div>
                <img class="book-4" src="~/lib/img/book-4-8@2x.png" />
            </div>
        </div>
        <div class="group-container">
            <div class="overlap-group21">
                <div class="rectangle-181"></div>
                <div class="packed-with-features poppins-medium-black-28px">
                    Packed With Features<br />For Your Home Service<br />Business
                </div>
                <div class="overlap-group4">
                    <img class="purse-1" src="~/lib/img/purse-1-2@2x.png" />
                    <div class="job-profitability poppins-medium-black-26px">Job Profitability</div>
                    <p class="estimates-invoices poppins-normal-black-14px">
                        Estimates &amp; Invoices<br />Contracts &amp; Signatures<br />Customer Management<br />Email &amp; SMS
                        Communications
                    </p>
                </div>
                <div class="overlap-group5">
                    <img class="purse-2" src="~/lib/img/purse-2-3@2x.png" />
                    <div class="customer-management poppins-medium-black-26px">Customer<br />Management</div>
                    <p class="scheduling-dispatc poppins-normal-black-14px">
                        Scheduling &amp; Dispatch<br />Route Planning<br />Job Profitability<br />Mobile &amp; Email Payments<br />Square
                        Integration
                    </p>
                </div>
            </div>
            <div class="overlap-group1-1">
                <img class="purse-3" src="~/lib/img/purse-3-4@2x.png" />
                <div class="online-booking poppins-medium-black-26px">Online Booking</div>
                <p class="file-photo-attachmen poppins-normal-black-14px">
                    File/Photo Attachments<br />Online Booking<br />Notifications &amp; Reminders<br />Custom Forms &amp;
                    Fields
                </p>
            </div>
            <div class="group-1765">
                <div class="group-521">
                    <div class="overlap-group-2">
                        <img class="purse-3-1" src="~/lib/img/purse-3-7@2x.png" />
                        <div class="online-booking-1 poppins-medium-black-26px">Online Booking</div>
                        <p class="cloud-storage-i-os-a poppins-normal-black-14px">
                            Cloud storage<br />iOS, Android, and web<br />QuickBooks &amp; Xero Sync<br />…and more!
                        </p>
                    </div>
                </div>
            </div>
        </div>
        <div class="why-uleadz poppins-medium-black-28px">Why Uleadz?</div>
        <p class="workflow-management poppins-normal-black-14px">
            Workflow Management (WFM) has significantly<br />evolved in the past few years, and today it<br />encompasses
            not just scheduling, dispatching,<br />work order management but also route<br />optimization, intelligent
            scheduling, real-time<br />status update, etc. WFM software allows<br />businesses to impart the best field
            service<br />solutions to their clients that work seamlessly<br />with their current back-office solution<br />right
            from the beginning.
        </p>
        <a href="#">
            <div class="frame-5"><div class="start-now poppins-normal-white-18px">Start now</div></div>
            </a>
            <div class="group-1766">
                <div class="group-552">
                    <div class="overlap-group1-2">
                        <div class="ellipse-28-1"></div>
                        <img class="book-4-1" src="~/lib/img/book-4-9@2x.png" />
                    </div>
                </div>
                <div class="group-553">
                    <div class="overlap-group-3">
                        <div class="ellipse-25-1"></div>
                        <img class="book-1-1" src="~/lib/img/book-1-3@2x.png" />
                    </div>
                </div>
            </div>
            <img class="mask-group" src="~/lib/img/mask-group-6@2x.png" />
            <div class="group-container-1">
                <div class="overlap-group24">
                    <div class="rectangle-182"></div>
                    <div class="benefits-of-uleadz-f poppins-medium-black-28px">
                        Benefits of Uleadz<br />Field Management<br />Software
                    </div>
                    <div class="group-1768">
                        <div class="group-528">
                            <img class="graphic_1-1-9" src="~/lib/img/graphic-1-1-9-1@2x.png" />
                            <p class="a-field-service-mana poppins-normal-black-14px">
                                A Field Service Management software<br />provides a cohesive system of fieldwork<br />that
                                standardizes the business workflow<br />and streamlines the entire process,<br />from dispatching to
                                invoicing.
                            </p>
                        </div>
                    </div>
                    <div class="group-1769">
                        <div class="group-529">
                            <img class="graphic_1-1-10" src="~/lib/img/graphic-1-1-10-1@2x.png" />
                            <p class="an-fsm-software-redu poppins-normal-black-14px">
                                An FSM software reduces manual labor by real-time data management and helps eliminate excessive
                                paperwork, prevent data loss and other manual errors.<br />Fast invoicing
                            </p>
                        </div>
                    </div>
                </div>
                <div class="overlap-group25">
                    <div class="group-1774">
                        <div class="group-1772">
                            <div class="group-531"><img class="graphic_1-1-8" src="~/lib/img/graphic-1-1-8-1@2x.png" /></div>
                        </div>
                        <div class="group-1773">
                            <div class="group-533">
                                <img class="graphic_1-1-6" src="~/lib/img/graphic-1-1-6-1@2x.png" />
                                <p class="fsm-allows-dynamic-s poppins-normal-black-14px">
                                    FSM allows dynamic scheduling that ensures quicker effective responses to the nearest tasks and
                                    simplifies assignments to urgent high-priority tasks. This ensures efficient customer service as
                                    well as proper task management.
                                </p>
                            </div>
                        </div>
                        <div class="group-1771">
                            <div class="group-532">
                                <img class="graphic_1-1-7" src="~/lib/img/graphic-1-1-7-1@2x.png" />
                                <p class="with-the-help-of-fsm poppins-normal-black-14px">
                                    With the help of FSM software tracking features, you can easily evaluate the faster routes and
                                    optimize accordingly. This not only ensures fuel control but also considerably helps in reducing
                                    costs.
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="rectangle-192"></div>
                    <p class="fsm-software-provide poppins-normal-black-14px">
                        FSM software provides a comprehensive platform to efficiently manage inventory, monitor field operations,
                        track equipment, deliveries, etc. It also offers scope for valuable business insights that help optimize
                        your business and enhance its performance.
                    </p>
                </div>
                <div class="group-1770">
                    <div class="group-530">
                        <img class="graphic_1-1-11" src="~/lib/img/graphic-1-1-11-1@2x.png" />
                        <p class="fsm-software-simplif poppins-normal-black-14px">
                            FSM software simplifies the complicated and time-consuming process of invoicing by automatically
                            calculating the figures with captured field service data. This ensures fast, efficient, and error-free
                            invoicing.
                        </p>
                    </div>
                </div>
            </div>
            <div class="group-1740">
                <img class="internet" src="~/lib/img/internet-8@2x.png" />
                <div class="the-right-solution-f valign-text-middle poppins-normal-black-21px">
                    The right solution for your<br />service business
                </div>
            </div>
            <div class="group-513">
                <div class="overlap-group6">
                    <img class="ellipse-26-1" src="~/lib/img/ellipse-26-5@2x.png" />
                    <img class="ellipse-27-1" src="~/lib/img/ellipse-27-5@2x.png" />
                    <img class="group-1-45" src="~/lib/img/group-1-45-8@2x.png" />
                    <img class="coins2-6" src="~/lib/img/coins2-6-15@2x.png" />
                    <img class="coins2-5" src="~/lib/img/coins2-5-49@2x.png" />
                </div>
            </div>
            <div class="group-1756">
                <p class="ineffective-field-se poppins-normal-black-14px">
                    Ineffective field service management can be<br />devastating for small and new businesses.<br />Hence it is
                    necessary that as a small business<br />owner, you implement professional Field Service<br />Management
                    software that helps you to manage<br />and monitor all of your field functions under a<br />single hood
                    without hefty price tags. Uleadz offers<br />field service management for small businesses<br />and helps
                    your business grow and keeps you in <br />he competition through seamless WFM software.
                </p>
                <a href="#">
                    <div class="frame-16">
                        <div class="learn-more valign-text-middle poppins-medium-white-10px">Learn More</div>
                    </div>
                    </a>
            </div>
            <div class="overlap-group22">
                <div class="uleadz-top-features poppins-medium-black-28px">Uleadz Top Features</div>
                <div class="overlap-group7">
                    <img class="graphic_2-1" src="~/lib/img/graphic-2-1-4@2x.png" />
                    <div class="ing-container">
                        <div class="invoicing-estimates poppins-medium-black-15px">Invoicing &amp; Estimates</div>
                        <p class="save-time-managing-y poppins-normal-black-14px">
                            Save time managing your invoices<br />and estimates. With Uleadz<br />Invoicing and Estimates, you
                            can<br />quickly create itemized estimates<br />and invoices, automatically<br />calculate totals,
                            take&nbsp;&nbsp;payments<br />and signatures via phone or email,<br />and much more. Stay on top of
                            your<br />daily business costs and&nbsp;&nbsp;profits!
                        </p>
                    </div>
                </div>
                <div class="overlap-group8">
                    <img class="graphic_2-1" src="~/lib/img/graphic-2-1-5@2x.png" />
                    <div class="flex-col-1">
                        <div class="costumer-comunications poppins-medium-black-15px">Costumer Comunications</div>
                        <p class="keep-your-customers poppins-normal-black-14px">
                            Keep your customers happy with<br />easy communication. Uleadz<br />Customer Communications lets<br />you
                            keep your customers in the<br />know with&nbsp;&nbsp;appointment<br />confirmation emails, reminders,<br />change
                            notices, estimated arrival<br />notifications, follow ups, and more.
                        </p>
                    </div>
                </div>
                <div class="overlap-group9">
                    <img class="graphic_2-1" src="~/lib/img/graphic-2-1-6@2x.png" />
                    <div class="job-sched-container">
                        <div class="job-scheduling poppins-medium-black-15px">Job Scheduling</div>
                        <p class="field-pulse-job-sched poppins-normal-black-14px">
                            FieldPulse Job Scheduling allows you<br />to create and assign jobs with easy<br />entry forms and
                            predefined service<br />templates. With multiple schedule<br />like daily agendas, team gantt<br />charts,
                            and map plots, you gain the<br />insight&nbsp;&nbsp;needed for advanced<br />timing and
                            location-based<br />scheduling.
                        </p>
                    </div>
                </div>
                <div class="overlap-group10">
                    <img class="graphic_2-1" src="~/lib/img/graphic-2-1-7@2x.png" />
                    <div class="flex-col-2">
                        <div class="route-planning-optimization poppins-medium-black-15px">Route Planning &amp; Optimization</div>
                        <p class="increase-efficiencie poppins-normal-black-14px">
                            Increase efficiencies with optimized<br />route planning. Build the most<br />efficient schedule for
                            your team<br />with Field Pulse Route Planning.<br />With Route Planning, you can<br />minimize travel
                            time, fuel expenses,<br />and possible overtime while<br />ensuring customer satisfaction.
                        </p>
                    </div>
                </div>
            </div>
            <div class="group-1780">
                <div class="group-1779">
                    <div class="testimonial">TESTIMONIAL</div>
                    <div class="you-get-more-than-what-you-pay-for poppins-medium-black-28px">
                        You get more than what<br />you pay for
                    </div>
                    <p class="we-will-take-care-of-everything-else poppins-normal-black-14px">
                        We will take care of everything else
                    </p>
                </div>
                <div class="group-616">
                    <div class="overlap-group-4">
                        <img class="rectangle-258" src="~/lib/img/rectangle-258-4@2x.png" />
                        <img class="rectangle-259" src="~/lib/img/rectangle-259-8@2x.png" />
                        <img class="rectangle-260" src="~/lib/img/rectangle-260-6@2x.png" />
                    </div>
                </div>
                <div class="group-621">
                    <div class="overlap-group1-3">
                        <p class="if-you-are-looking poppins-normal-black-14px">
                            &#34;If you are looking to save time and be more<br />organized with your business, this is what<br />you
                            are looking for. Awesome system, very <br />time saving and user friendly! Great to keep<br />your
                            business organized!&#34;
                        </p>
                        <div class="group-618">
                            <img class="ellipse-42" src="~/lib/img/ellipse-42-10@2x.png" />
                            <div class="group-617">
                                <div class="overlap-group-5">
                                    <div class="name valign-text-middle poppins-medium-black-12px">Michael Jones</div>
                                    <div class="home-service-professional valign-text-middle poppins-normal-black-12px">
                                        Home Service Professional
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="group-620">
                    <div class="overlap-group2-1">
                        <p class="if-you-are-looking-1 poppins-normal-black-14px">
                            &#34;If you are looking to save time and be more<br />organized with your business, this is what you<br />are
                            looking for. Awesome system, very time<br />saving and user friendly! Great to keep your<br />business
                            organized!&#34;
                        </p>
                        <div class="group-619">
                            <img class="ellipse-42-1" src="~/lib/img/ellipse-42-11@2x.png" />
                            <div class="group-617-1">
                                <div class="overlap-group-6">
                                    <div class="name valign-text-middle poppins-medium-black-12px">Josh Garcia</div>
                                    <div class="field-technician valign-text-middle poppins-normal-black-12px">Field Technician</div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <a href="#">
                    <div class="frame-16-1">
                        <div class="read-more valign-text-middle poppins-medium-white-10px">Read More</div>
                    </div>
                    </a>
            </div>
            <div class="create-estimates-bas poppins-medium-hunter-green-28px">
                Create estimates<br />based on customers <br />requirements.
            </div>
            <p class="the-process-to-creat poppins-normal-hunter-green-14px">
                The process to create estimates is simple and<br />easy!
            </p>
            <div class="group-561">
                <div class="overlap-group13">
                    <img class="ellipse-32" src="~/lib/img/ellipse-32-1@2x.png" />
                    <img class="ellipse-35" src="~/lib/img/ellipse-35-1@2x.png" />
                    <div class="group-559">
                        <img class="ellipse-36" src="~/lib/img/ellipse-36-2@2x.png" />
                        <div class="group-558 poppins-normal-hunter-green-6-6px">
                            <div class="name-1 valign-text-middle">Lucy Mckinnon</div>
                            <div class="profession valign-text-middle">Profession</div>
                        </div>
                    </div>
                    <div class="group-560">
                        <img class="ellipse-36-1" src="~/lib/img/ellipse-36-3@2x.png" />
                        <div class="group-558-1 poppins-normal-hunter-green-6-6px">
                            <div class="name-2 valign-text-middle">Lucy Mckinnon</div>
                            <div class="profession valign-text-middle">Profession</div>
                        </div>
                    </div>
                </div>
                <img class="ellipse-33" src="~/lib/img/ellipse-33-1@2x.png" />
                <img class="ellipse-34" src="~/lib/img/ellipse-34-1@2x.png" />
            </div>
            <div class="group-1790">
                <div class="group-1784">
                    <div class="overlap-group-7"><img class="rectangle-2" src="~/lib/img/rectangle-210@2x.png" /></div>
                    <p class="select-services-to-be-added-to-invoice poppins-normal-hunter-green-14px">
                        Select services to be added to invoice
                    </p>
                </div>
                <div class="group-1785">
                    <div class="overlap-group1-4"><img class="rectangle-2" src="~/lib/img/rectangle-217@2x.png" /></div>
                    <div class="choose-inventory-items poppins-normal-hunter-green-14px">Choose inventory items</div>
                </div>
                <div class="group-1786">
                    <div class="overlap-group3-1"><img class="rectangle-2" src="~/lib/img/rectangle-218@2x.png" /></div>
                    <p class="enter-additional-wor poppins-normal-hunter-green-14px">
                        Enter additional work performed with <br />charges
                    </p>
                </div>
                <div class="group-1787">
                    <div class="overlap-group2-2"><img class="rectangle-2" src="~/lib/img/rectangle-219@2x.png" /></div>
                    <p class="choose-estimate-as-the-payment-option poppins-normal-hunter-green-14px">
                        Choose estimate as the payment option
                    </p>
                </div>
                <div class="group-1788">
                    <div class="overlap-group"><img class="rectangle-2" src="~/lib/img/rectangle-220@2x.png" /></div>
                    <p class="email-estimates-and poppins-normal-hunter-green-14px">
                        Email estimates and quotations directly<br />to the customers
                    </p>
                </div>
                <div class="group-1789">
                    <div class="overlap-group5-1"><img class="rectangle-2" src="~/lib/img/rectangle-221@2x.png" /></div>
                    <p class="get-signed-approvals poppins-normal-hunter-green-14px">
                        Get signed approvals from customer to<br />start the job
                    </p>
                </div>
            </div>
            <div class="overlap-group23">
                <div class="create-invoices-with poppins-medium-hunter-green-28px">
                    Create invoices with<br />the click of a button
                </div>
                <p class="the-ease-of-making-i poppins-normal-hunter-green-14px">
                    The ease of making invoices directly from the field<br />makes your workflow even more consistent.
                </p>
                <div class="overlap-group14">
                    <img class="ellipse-22" src="~/lib/img/ellipse-22-10@2x.png" />
                    <img class="ellipse-24" src="~/lib/img/ellipse-24-10@2x.png" />
                    <img class="ellipse-23" src="~/lib/img/ellipse-23-10@2x.png" />
                    <img class="mansgement-1" src="~/lib/img/mansgement-1-12@2x.png" />
                    <img class="coins2-3" src="~/lib/img/coins2-3-12@2x.png" />
                    <img class="coins2-4" src="~/lib/img/coins2-4-12@2x.png" />
                </div>
                <div class="group-1792">
                    <div class="overlap-group15"><img class="rectangle-2" src="~/lib/img/rectangle-210-1@2x.png" /></div>
                    <p class="quickly-create-pdf-f poppins-normal-hunter-green-14px">
                        Quickly create PDF files with ready-to-<br />use invoice templates
                    </p>
                </div>
                <div class="group-1793">
                    <div class="overlap-group16"><img class="rectangle-2" src="~/lib/img/rectangle-217-1@2x.png" /></div>
                    <p class="include-before-and-a poppins-normal-hunter-green-14px">
                        Include before and after work <br />performed pictures
                    </p>
                </div>
                <div class="group-1794">
                    <div class="overlap-group18"><img class="rectangle-2" src="~/lib/img/rectangle-218-1@2x.png" /></div>
                    <div class="attach-documents poppins-normal-hunter-green-14px">Attach documents</div>
                </div>
                <div class="group-1795">
                    <div class="overlap-group19"><img class="rectangle-2" src="~/lib/img/rectangle-219-1@2x.png" /></div>
                    <p class="obtain-digital-signa poppins-normal-hunter-green-14px">
                        Obtain Digital Signature from <br />Customer on job completion
                    </p>
                </div>
                <div class="group-1796">
                    <div class="overlap-group"><img class="rectangle-2" src="~/lib/img/rectangle-220-1@2x.png" /></div>
                    <p class="email-invoices-direc poppins-normal-hunter-green-14px">
                        Email invoices directly to the customers
                    </p>
                </div>
                <div class="group-1797">
                    <div class="overlap-group20"><img class="rectangle-2" src="~/lib/img/rectangle-220@2x.png" /></div>
                    <p class="attach-prepared-invo poppins-normal-hunter-green-14px">
                        Attach prepared invoices to a job for <br />future reference
                    </p>
                </div>
                <p class="with-simplified-invo poppins-normal-white-14px-2">
                    <span class="span">With</span> <span class="poppins-normal-hunter-green-14px">Simplified Invoicing</span><span class="span">
                        , Field Service<br />Technicians&nbsp;&nbsp;and back office staff have the<br />power to create invoices
                        in seconds by simply<br />adding work performed, or items from price<br />book and trucks parts from
                        inventory to the<br />invoice.
                    </span>
                </p>
            </div>
            <div class="we-have-defined-a-co poppins-medium-hunter-green-28px">
                We have defined a<br />collaborative process<br />with our clients. Let’s see<br />if&nbsp;&nbsp;we are a fit.
            </div>
            <img class="rectangle-222" src="~/lib/img/rectangle-222-1@2x.png" />
            <div class="group-1800">
                <div class="flex-row-1">
                    <img class="line-23" src="~/lib/img/line-23-1@2x.png" />
                    <div class="an-i-container">
                        <div class="what-is-an-invoice valign-text-middle poppins-medium-hunter-green-16px">
                            What is an invoice?
                        </div>
                        <p class="in-basic-terms-an-i poppins-normal-hunter-green-14px">
                            In basic terms, an invoice is a bill sent to your<br />customers after you complete a job or visit.
                        </p>
                    </div>
                </div>
                <div class="group-570">
                    <div class="group-569">
                        <div class="group-48">
                            <div class="line-container">
                                <img class="line-24" src="~/lib/img/line-24-2@2x.png" />
                                <img class="line-25" src="~/lib/img/line-25-2@2x.png" />
                            </div>
                        </div>
                        <p class="when-is-the-best-tim poppins-medium-hunter-green-16px">
                            When is the best time to send an<br />invoice?
                        </p>
                    </div>
                    <div class="group-568">
                        <div class="group-48">
                            <div class="line-container">
                                <img class="line-24" src="~/lib/img/line-24-2@2x.png" />
                                <img class="line-25" src="~/lib/img/line-25-2@2x.png" />
                            </div>
                        </div>
                        <p class="how-can-i-make-it-ea poppins-medium-hunter-green-16px">
                            How can I make it easier for clients<br />to pay me?
                        </p>
                    </div>
                </div>
            </div>
            <div class="group-1798">
                <div class="overlap-group12">
                    <div class="rectangle-225"></div>
                    <img class="mask-group-1" src="~/lib/img/mask-group-7@1x.png" />
                    <div class="overlap-group-8">
                        <div class="ellipse-28-2"></div>
                        <img class="book-4-2" src="~/lib/img/book-4-10@2x.png" />
                    </div>
                    <div class="overlap-group1-5">
                        <div class="ellipse-27-2"></div>
                        <img class="book-3-1" src="~/lib/img/book-3-3@2x.png" />
                    </div>
                    <div class="choose-from-multiple-payment-options poppins-medium-hunter-green-28px">
                        Choose from multiple<br />payment options
                    </div>
                    <p class="provide-customers-th poppins-normal-hunter-green-14px">
                        Provide customers the flexibility to choose from<br />more than 5 different payment options to<br />facilitate
                        quicker payment processing. The<br />service mobile application lets the field force<br />worker enter all
                        the details against customers<br />by letting them carefully choose the payment<br />options and complete
                        the invoice instantly.
                    </p>
                    <a href="#">
                        <div class="frame-6"><div class="book-demo poppins-normal-white-14px">Book Demo</div></div>
                        </a>
                        </div>
            </div>
            @*<div class="group-1764">
                <div class="overlap-group11">
                    <div class="stay-ahead-of-the-ga poppins-normal-white-20px">
                        <span class="poppins-normal-white-20px">Stay ahead of the game<br />with</span>
                        <span class="span1 poppins-medium-white-28px">Uleadz Field<br />Management Software</span>
                    </div>
                    <div class="frame-16-2">
                        <div class="contact-us valign-text-middle poppins-medium-white-18px">Contact Us</div>
                    </div>
                    <div class="group-container-2 poppins-normal-white-16px">
                        <div class="group-486">
                            <div class="place valign-text-middle">Home</div>
                            <div class="why-uleadz-1 valign-text-middle">Why Uleadz?</div>
                            <div class="about-us valign-text-middle">About Us</div>
                            <div class="place-1 valign-text-middle">Contact</div>
                            <div class="pricing valign-text-middle">Pricing</div>
                        </div>
                        <div class="group-485">
                            <div class="industries valign-text-middle">Industries</div>
                            <div class="terms-of-use valign-text-middle">Terms of use</div>
                            <div class="privacy-policy valign-text-middle">Privacy Policy</div>
                            <div class="support valign-text-middle">Support</div>
                        </div>
                    </div>
                    <div class="group-144">
                        <div class="group-1759"><img class="group-143" src="~/lib/img/group-143-2@2x.png" /></div>
                        <div class="group-1758"><img class="group" src="~/lib/img/group-16@2x.png" /></div>
                        <div class="group-1757"><img class="vector" src="~/lib/img/vector@2x.png" /></div>
                        <div class="group-1756-1"><img class="group-1755" src="~/lib/img/group-1755@2x.png" /></div>
                    </div>
                    <div class="hellouleadzcom valign-text-middle poppins-normal-white-16px">hello@uleadz.com</div>
                    <img class="uleadz1-1" src="~/lib/img/uleadz1-1-2@2x.png" />
                </div>
            </div>*@
    </div>
</div>
