<div class="container-center-horizontal">
    <div class="why-uleadz screen">
        <div class="a-service-software-b">A Service Software Built For<br />Your Industry</div>
        <p class="uleadz-is-the-ultima poppins-normal-black-15px">
            Uleadz is the ultimate field management service software for contractors that connects every part of your
            business on one simple, yet powerful system.
        </p>
        <div class="overlap-group11">
            <div class="group-551">
                <div class="flex-col">
                    <div class="overlap-group">
                        <div class="ellipse-25"></div>
                        <img class="book-1" src="~/lib/img/book-1@2x.png" />
                    </div>
                    <img class="arrow-1" src="~/lib/img/arrow-1@2x.svg" />
                </div>
                <div class="overlap-group2">
                    <div class="ellipse-26"></div>
                    <img class="book-2" src="~/lib/img/book-2@2x.png" />
                </div>
                <img class="arrow-2" src="~/lib/img/arrow-2@2x.svg" />
                <div class="overlap-group3">
                    <div class="ellipse-27"></div>
                    <img class="book-3" src="~/lib/img/book-3@2x.png" />
                </div>
                <img class="arrow-3" src="~/lib/img/arrow-3@2x.svg" />
                <div class="overlap-group1">
                    <div class="ellipse-28"></div>
                    <img class="book-4" src="~/lib/img/book-4@2x.png" />
                </div>
            </div>
            <a href="#">
                <div class="frame-16">
                    <div class="start-today valign-text-middle poppins-medium-white-16px">Start Today</div>

                </div>
            </a>
        </div>

        @*<div class="img-list">
            <img src="https://robohash.org/1.png"  alt="1" />
            <img src="https://robohash.org/2.png"  alt="2" />
            <img src="https://robohash.org/3.png"  alt="3" />
            <img src="https://robohash.org/4.png"  alt="4" />
            <img src="https://robohash.org/5.png"  alt="5" />
            <img src="https://robohash.org/6.png"  alt="6" />
            <img src="https://robohash.org/7.png"  alt="7" />
            <img src="~/lib/img/purse-3@2x.png"  alt="8" />
            <img src="~/lib/img/purse-3@2x.png"  alt="9" />
            <img src="~/lib/img/purse-3@2x.png"  alt="10" />
            <img src="~/lib/img/purse-3@2x.png"  alt="11" />
            <img src="~/lib/img/purse-3@2x.png"  alt="12" />
        </div>*@
        


    <div class="group-573">
        <div class="group-525 side">

            <div class="packed-with-features poppins-medium-black-42px">
                Packed With Features For Your Home<br />Service Business
            </div>
            <div class="frame-17 carousel-inner">
                <div class="overlap-group-1 pagination">
                    <img class="purse-1" src="~/lib/img/purse-1@2x.png" />
                    <div class="job-profitability poppins-medium-black-34px">Job Profitability</div>
                    <div class="estimates-invoices poppins-normal-black-18px">
                        Estimates &amp; Invoices<br />Contracts &amp; Signatures<br />Customer Management<br />Email &amp; SMS
                        Communications
                    </div>
                </div>
                <div class="overlap-group1-1 pagination">
                    <img class="purse-2" src="~/lib/img/purse-2@2x.png" />
                    <div class="customer-management poppins-medium-black-34px">Customer<br />Management</div>
                    <div class="scheduling-dispatc poppins-normal-black-18px">
                        Scheduling &amp; Dispatch<br />Route Planning<br />Job Profitability<br />Mobile &amp; Email
                        Payments<br />Square Integration
                    </div>
                </div>
                <div class="overlap-group2-1 pagination">
                    <img class="purse-3" src="~/lib/img/purse-3@2x.png" />
                    <div class="online-booking poppins-medium-black-34px">Online Booking</div>
                    <div class="file-photo-attachmen poppins-normal-black-18px">
                        File/Photo Attachments<br />Online Booking<br />Notifications &amp; Reminders<br />Custom Forms &amp;
                        Fields
                    </div>
                </div>

                <div class="overlap-group-1 pagination">
                    @*<img class="purse-1" src="~/lib/img/purse-1@2x.png" />*@
                    <div class="job-profitability poppins-medium-black-34px"> Profitability</div>
                    <div class="estimates-invoices poppins-normal-black-18px">
                        Estimates &amp; Invoices<br />Contracts &amp; Signatures<br />Customer Management<br />Email &amp; SMS
                        Communications
                    </div>
                </div>
                <div class="overlap-group1-1 pagination">
                    <img class="purse-2" src="~/lib/img/purse-2@2x.png" />
                    <div class="customer-management poppins-medium-black-34px">Customer<br />Management</div>
                    <div class="scheduling-dispatc poppins-normal-black-18px">
                        Scheduling &amp; Dispatch<br />Route Planning<br />Job Profitability<br />Mobile &amp; Email
                        Payments<br />Square Integration
                    </div>
                </div>
                <div class="overlap-group2-1 pagination">
                    <img class="purse-3" src="~/lib/img/purse-3@2x.png" />
                    <div class="online-booking poppins-medium-black-34px"> Booking</div>
                    <div class="file-photo-attachmen poppins-normal-black-18px">
                        File/Photo Attachments<br />Online Booking<br />Notifications &amp; Reminders<br />Custom Forms &amp;
                        Fields
                    </div>
                </div>

            </div>

        </div>
        <a href="#" class="prev"><img class="arrow-11" src="/lib/img/arrow-right-4@2x.svg"></a>
        <a href="#" class="next"><img class="arrow-22" src="/lib/img/arrow-right-3@2x.svg"></a>
        <div class="overlap-group4"><img class="line-44" src="~/lib/img/line-44@2x.svg" /></div>

    </div>
        <div class="why-uleadz-2 poppins-medium-black-48px">Why Uleadz?</div>
        <div class="workflow-management poppins-normal-black-18px">
            Workflow Management (WFM) has significantly evolved in the past few years, and today it encompasses not
            just<br />scheduling, dispatching, work order management but also route optimization, intelligent scheduling,
            real-time<br />status update, etc. WFM software allows businesses to impart the best field service solutions
            to their clients that<br />work seamlessly with their current back-office solution right from the beginning.
        </div>
        <a href="#">
            <div class="frame-17-1">
                <div class="start-now valign-text-middle poppins-medium-white-16px">Start Now</div>
            </div>
        </a>
        <div class="overlap-group-container">
            <div class="overlap-group8">
                <div class="ellipse-28"></div>
                <img class="book-4" src="~/lib/img/book-4@2x.png" />
            </div>
            <div class="overlap-group9">
                <div class="ellipse-25-1"></div>
                <img class="book-1" src="~/lib/img/book-1-1@2x.png" />
            </div>
        </div>
        <img class="mask-group" src="~/lib/img/mask-group-2@1x.svg" />
        <div class="overlap-group13">
            <div class="benefits-of-uleadz-f poppins-medium-black-48px">
                Benefits of Uleadz Field Management<br />Software
            </div>
            <div class="overlap-group5">
                <div class="rectangle-1"></div>
                <div class="rectangle-1-1"></div>
                <div class="rectangle-1-2"></div>
                <div class="group-534">
                    <div class="group-528">
                        <img class="graphic_1-1" src="~/lib/img/graphic-1-1-9@2x.png" />
                        <p class="a-field-service-mana poppins-normal-black-15px">
                            A Field Service Management software<br />provides a cohesive system of fieldwork<br />that
                            standardizes the business workflow<br />and streamlines the entire process,<br />from dispatching to
                            invoicing.
                        </p>
                    </div>
                    <div class="group-529">
                        <img class="graphic_1-1-10" src="~/lib/img/graphic-1-1-10@2x.png" />
                        <p class="an-fsm-software-redu poppins-normal-black-15px">
                            An FSM software reduces manual labor by real-time data management and helps eliminate excessive
                            paperwork, prevent data loss and other manual errors.<br />Fast invoicing
                        </p>
                    </div>
                    <div class="group-530">
                        <img class="graphic_1-1" src="~/lib/img/graphic-1-1-11@2x.png" />
                        <p class="fsm-software-simplif poppins-normal-black-15px">
                            FSM software simplifies the complicated and time-consuming process of invoicing by automatically
                            calculating the figures with captured field service data. This ensures fast, efficient, and error-free
                            invoicing.
                        </p>
                    </div>
                </div>
            </div>
            <div class="overlap-group4-1">
                <div class="rectangle-1"></div>
                <div class="rectangle-1-1"></div>
                <div class="rectangle-1-2"></div>
                <div class="group-535">
                    <div class="group-533">
                        <img class="graphic_1-1-6" src="~/lib/img/graphic-1-1-6@2x.png" />
                        <p class="fsm-allows-dynamic-s poppins-normal-black-15px">
                            FSM allows dynamic scheduling that ensures quicker effective responses to the nearest tasks and
                            simplifies assignments to urgent high-priority tasks. This ensures efficient customer service as well
                            as proper task management.
                        </p>
                    </div>
                    <div class="group-532">
                        <img class="graphic_1-1" src="~/lib/img/graphic-1-1-2@2x.png" />
                        <p class="with-the-help-of-fsm poppins-normal-black-15px">
                            With the help of FSM software tracking features, you can easily evaluate the faster routes and
                            optimize accordingly. This not only ensures fuel control but also considerably helps in reducing
                            costs.
                        </p>
                    </div>
                    <div class="group-531">
                        <img class="graphic_1-1" src="~/lib/img/graphic-1-1-1@2x.png" />
                        <p class="fsm-software-provide poppins-normal-black-15px">
                            FSM software provides a comprehensive platform to efficiently manage inventory, monitor field
                            operations, track equipment, deliveries, etc. It also offers scope for valuable business insights that
                            help optimize your business and enhance its performance.
                        </p>
                    </div>
                </div>
            </div>
        </div>
        <div class="group-container">
            <div class="group-513">
                <div class="overlap-group6">
                    <img class="ellipse-26-1" src="~/lib/img/ellipse-26-2@1x.svg" />
                    <img class="ellipse-27-1" src="~/lib/img/ellipse-27-2@2x.svg" />
                    <img class="group-1-45" src="~/lib/img/group-1-45-2@1x.png" />
                    <img class="coins2-6" src="~/lib/img/coins2-3@2x.png" />
                    <img class="coins2-5" src="~/lib/img/coins2-5-10@2x.png" />
                </div>
            </div>
            <div class="group-478">
                <div class="flex-row-1">
                    <img class="internet" src="~/lib/img/internet-3@2x.svg" />
                    <div class="the-right-solution-f poppins-normal-black-32px">
                        The right solution for your<br />service business
                    </div>
                </div>
                <p class="ineffective-field-se poppins-normal-black-16px">
                    Ineffective field service management can be devastating<br />for small and new businesses. Hence it is
                    necessary that<br />as a small business owner, you implement professional<br />Field Service Management
                    software that helps you to<br />manage and monitor all of your field functions under a<br />single hood
                    without hefty price tags. Uleadz offers field<br />service management for small businesses and helps<br />your
                    business grow and keeps you in the competition<br />through seamless WFM software.
                </p>
                <a href="#">
                    <div class="frame-16-1">
                        <div class="learn-more valign-text-middle poppins-medium-white-16px">Learn More</div>
                    </div>
                </a>
            </div>
        </div>
        <div class="overlap-group12">
            <div class="uleadz-top-features poppins-medium-black-48px">Uleadz Top Features</div>
            <div class="overlap-group-container-1">
                <div class="overlap-group-2">
                    <img class="graphic_2-1" src="~/lib/img/graphic-2-1@2x.png" />
                    <div class="ing-container">
                        <div class="invoicing-estimates poppins-medium-black-24px">Invoicing &amp; Estimates</div>
                        <p class="save-time-managing-y poppins-normal-black-16px">
                            Save time managing your invoices and estimates.<br />With Uleadz Invoicing and Estimates, you can<br />quickly
                            create itemized estimates and invoices,<br />automatically calculate totals, take payments<br />and
                            signatures via phone or email, and much<br />more. Stay on top of your daily business costs<br />and
                            profits!
                        </p>
                    </div>
                </div>
                <div class="overlap-group2-2">
                    <img class="graphic_2-1-1" src="~/lib/img/graphic-2-1-2@2x.png" />
                    <div class="job-sched-container">
                        <div class="job-scheduling poppins-medium-black-24px">Job Scheduling</div>
                        <p class="field-pulse-job-sched poppins-normal-black-16px">
                            FieldPulse Job Scheduling allows you to create<br />and assign jobs with easy entry forms and<br />predefined
                            service templates. With multiple<br />schedule like daily agendas, team gantt charts,<br />and map
                            plots, you gain the insight needed for<br />advanced timing and&nbsp;&nbsp;location-based<br />scheduling.
                        </p>
                    </div>
                </div>
            </div>
            <div class="overlap-group-container-2">
                <div class="overlap-group1-2">
                    <img class="graphic_2-1-2" src="~/lib/img/graphic-2-1-1@2x.png" />
                    <div class="flex-col-1">
                        <div class="costumer-comunications poppins-medium-black-24px">Costumer Comunications</div>
                        <p class="keep-your-customers poppins-normal-black-16px">
                            Keep your customers happy with easy<br />communication. Uleadz Customer<br />Communications lets you
                            keep your customers<br />in the know with&nbsp;&nbsp;appointment confirmation<br />emails, reminders,
                            change notices, estimated<br />arrival notifications, follow ups, and more.
                        </p>
                    </div>
                </div>
                <div class="overlap-group3-2">
                    <img class="graphic_2-1-3" src="~/lib/img/graphic-2-1-3@2x.png" />
                    <div class="flex-col-2">
                        <div class="route-planning-optimization poppins-medium-black-24px">
                            Route Planning &amp; Optimization
                        </div>
                        <p class="increase-efficiencie poppins-normal-black-16px">
                            Increase efficiencies with optimized route<br />planning. Build the most efficient schedule for<br />your
                            team with FieldPulse Route Planning. With Route<br />Planning, you can minimize travel time, fuel<br />expenses,
                            and possible overtime while ensuring<br />customer satisfaction.
                        </p>
                    </div>
                </div>
            </div>
        </div>
        <div class="group-624">
            <a href="#" class="prev"><img class="arrow-right" src="~/lib/img/arrow-right-4@2x.png" /></a>
            @*<img class="arrow-right" src="~/lib/img/arrow-right-4@2x.svg" />*@
            <div class="flex-col-3 side-2">
                <div class="flex-row-2 pagination">
                    <div class="flex-col-4">
                        <div class="testimonial poppins-normal-black-14px">TESTIMONIAL</div>
                        <div class="you-get-more-than-what-you-pay-for poppins-medium-black-50px">
                            You get more than what<br />you pay for
                        </div>
                        <p class="we-will-take-care-of-everything-else poppins-normal-black-16px">
                            We will take care of everything else
                        </p>
                    </div>
                    <div class="overlap-group-3">
                        <img class="rectangle-258-1" src="~/lib/img/rectangle-258-1@2x.png" />
                        @*<img class="rectangle-258" src="~/lib/img/rectangle-258-2@2x.png" />*@
                        <img class="rectangle-259" src="~/lib/img/rectangle-259-1@2x.png" />
                        <img class="rectangle-260" src="~/lib/img/rectangle-260-1@2x.png" />
                    </div>
                </div>
                <div class="group-622 pagination">
                    <div class="overlap-group1-3">
                        <div class="if-you-are-looking valign-text-middle poppins-normal-black-18px">
                            &#34;If you are looking to save time and be more organized with your business, this is what you are
                            looking for. Awesome system, very time saving and user friendly! Great to keep your business
                            organized!&#34;
                        </div>
                        <div class="group-618">
                            <img class="ellipse-42" src="~/lib/img/ellipse-42-2@2x.png" />
                            <div class="overlap-group-4">
                                <div class="name valign-text-middle poppins-medium-black-16px">Michael Jones</div>
                                <div class="home-service-professional valign-text-middle poppins-normal-black-14px">
                                    Home Service Professional
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="overlap-group2-3">
                        <div class="until-i-met-uleadz valign-text-middle poppins-normal-black-18px">
                            &#34;Until I met Uleadz I was spending half of my time dealing with calls and jobs management. Now I
                            have automated it and I don’t need to deal with it anymore, I can invest my time making more
                            money.&#34;
                        </div>
                        <div class="group-619">
                            <img class="ellipse-42" src="~/lib/img/ellipse-42-3@2x.png" />
                            <div class="overlap-group-5">
                                <div class="name valign-text-middle poppins-medium-black-16px">Josh Garcia</div>
                                <div class="field-technician valign-text-middle poppins-normal-black-14px">Field Technician</div>
                            </div>
                        </div>
                    </div>
                </div>
                @*copy*@
                <div class="flex-row-2 pagination">
                    <div class="flex-col-4">
                        <div class="testimonial poppins-normal-black-14px">TESTIMONIAL</div>
                        <div class="you-get-more-than-what-you-pay-for poppins-medium-black-50px">
                            You get more than what<br />you pay for
                        </div>
                        <p class="we-will-take-care-of-everything-else poppins-normal-black-16px">
                            We will take care of everything else
                        </p>
                    </div>
                    <div class="overlap-group-3">
                        <img class="rectangle-258-1" src="~/lib/img/rectangle-258-1@2x.png" />
                        @*<img class="rectangle-258" src="~/lib/img/rectangle-258-2@2x.png" />*@
                        <img class="rectangle-259" src="~/lib/img/rectangle-259-1@2x.png" />
                        <img class="rectangle-260" src="~/lib/img/rectangle-260-1@2x.png" />
                    </div>
                </div>
                <div class="group-622 pagination">
                    <div class="overlap-group1-3">
                        <div class="if-you-are-looking valign-text-middle poppins-normal-black-18px">
                            &#34;copy If you are looking to save time and be more organized with your business, this is what you are
                            looking for. Awesome system, very time saving and user friendly! Great to keep your business
                            organized!&#34;
                        </div>
                        <div class="group-618">
                            <img class="ellipse-42" src="~/lib/img/ellipse-42-2@2x.png" />
                            <div class="overlap-group-4">
                                <div class="name valign-text-middle poppins-medium-black-16px">Michael Jones</div>
                                <div class="home-service-professional valign-text-middle poppins-normal-black-14px">
                                    Home Service Professional
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="overlap-group2-3">
                        <div class="until-i-met-uleadz valign-text-middle poppins-normal-black-18px">
                            &#34;copy Until I met Uleadz I was spending half of my time dealing with calls and jobs management. Now I
                            have automated it and I don’t need to deal with it anymore, I can invest my time making more
                            money.&#34;
                        </div>
                        <div class="group-619">
                            <img class="ellipse-42" src="~/lib/img/ellipse-42-3@2x.png" />
                            <div class="overlap-group-5">
                                <div class="name valign-text-middle poppins-medium-black-16px">Josh Garcia</div>
                                <div class="field-technician valign-text-middle poppins-normal-black-14px">Field Technician</div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
            <a href="#" class="next"><img class="arrow-right-1" src="~/lib/img/arrow-right-3@2x.svg" /></a>
            @*<img class="arrow-right-1" src="~/lib/img/arrow-right-3@2x.svg" />*@
        </div>
        <img class="rectangle-206" src="~/lib/img/rectangle-206-1@1x.png" />

    </div>
</div>
