/* screen - homepage-bot-open */

.homepage-bot-open {
  background-color: var(--ffffff);
  height: 768px;
  overflow: hidden;
  position: relative;
  width: 1366px;
}

.homepage-bot-open .overlap-group10 {
  height: 5524px;
  left: 0;
  position: absolute;
  top: -174px;
  width: 1845px;
}

.homepage-bot-open .x1207_vw50a-x-rs-zw-qt-mg-1 {
  height: 1621px;
  left: 224px;
  object-fit: cover;
  position: absolute;
  top: 0;
  width: 1621px;
}

.homepage-bot-open .ellipse-21 {
  background-color: var(--brilliant-rose-3);
  border-radius: 232.5px;
  height: 465px;
  left: 731px;
  opacity: 0.2;
  position: absolute;
  top: 281px;
  width: 465px;
}

.homepage-bot-open .group-8 {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  left: 99px;
  min-height: 426px;
  position: absolute;
  top: 382px;
  width: 557px;
}

.homepage-bot-open .the-easiest-way-to-g {
  letter-spacing: -2.44px;
  line-height: 79.3px;
  min-height: 237px;
}

.homepage-bot-open .schedule-jobs-get-p {
  letter-spacing: -0.64px;
  line-height: 28.8px;
  margin-top: 35px;
  min-height: 58px;
  opacity: 0.7;
}

.homepage-bot-open .flex-row {
  align-items: flex-start;
  display: flex;
  margin-top: 42px;
  min-width: 486px;
}

.homepage-bot-open .frame-2 {
  background-color: var(--black);
  border-radius: 15px;
  display: flex;
  height: 54px;
  width: 222px;
}

.homepage-bot-open .apple_logo_black-1 {
  height: 16.5px;
  margin-left: 34.8px;
  margin-top: 18.8px;
  width: 14.5px;
}

.homepage-bot-open .download-for-i-os {
  height: 24px;
  letter-spacing: -0.64px;
  margin-left: 9.8px;
  margin-top: 15px;
  width: 128px;
}

.homepage-bot-open .overlap-group {
  align-items: center;
  background-image: url(../img/frame-3@2x.png);
  background-size: 100% 100%;
  display: flex;
  height: 54px;
  justify-content: flex-end;
  margin-left: 32px;
  min-width: 232px;
  padding: 0 1px;
}

.homepage-bot-open .group-2 {
  height: 12px;
  margin-top: 0;
  width: 25px;
}

.homepage-bot-open .download-for-android {
  letter-spacing: -0.64px;
  margin-left: 10px;
  min-height: 24px;
  min-width: 162px;
}

.homepage-bot-open .coins2-1 {
  height: 78px;
  left: 706px;
  object-fit: cover;
  position: absolute;
  top: 562px;
  width: 78px;
}

.homepage-bot-open .coins2-2 {
  height: 78px;
  left: 1147px;
  object-fit: cover;
  position: absolute;
  top: 382px;
  width: 78px;
}

.homepage-bot-open .coins2-5 {
  height: 124px;
  left: 1072px;
  object-fit: cover;
  position: absolute;
  top: 569px;
  width: 124px;
}

.homepage-bot-open .iphone-12-pro-in-hand-free-mockup-1 {
  height: 762px;
  left: 672px;
  position: absolute;
  top: 178px;
  width: 608px;
}

.homepage-bot-open .group-container {
  height: 4227px;
  left: 113px;
  position: absolute;
  top: 444px;
  width: 1131px;
}

.homepage-bot-open .group-519 {
  display: flex;
  height: 2249px;
  left: 0;
  position: absolute;
  top: 0;
  width: 1127px;
}

.homepage-bot-open .group-514 {
  align-items: flex-start;
  display: flex;
  margin-top: 1496.4px;
  min-width: 608px;
}

.homepage-bot-open .overlap-group1 {
  height: 753px;
  position: relative;
  width: 608px;
}

.homepage-bot-open .ellipse-22 {
  background-color: var(--royal-blue);
  height: 608px;
  left: 0;
  position: absolute;
  top: 145px;
  width: 608px;
}

.homepage-bot-open .ellipse-24 {
  background-color: var(--royal-blue);
  height: 524px;
  left: 42px;
  position: absolute;
  top: 187px;
  width: 524px;
}

.homepage-bot-open .ellipse-23 {
  background-color: var(--royal-blue);
  height: 432px;
  left: 88px;
  position: absolute;
  top: 233px;
  width: 432px;
}

.homepage-bot-open .mansgement-1 {
  height: 593px;
  left: 153px;
  position: absolute;
  top: 0;
  width: 302px;
}

.homepage-bot-open .coins2-3 {
  height: 78px;
  left: 495px;
  object-fit: cover;
  position: absolute;
  top: 348px;
  width: 78px;
}

.homepage-bot-open .coins2-4 {
  height: 78px;
  left: 31px;
  object-fit: cover;
  position: absolute;
  top: 210px;
  width: 78px;
}

.homepage-bot-open .group-488 {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  margin-left: 45px;
  min-height: 2122.41px;
  width: 478px;
}

.homepage-bot-open .internet {
  height: 6px;
  width: 42px;
}

.homepage-bot-open .overlap-group-1 {
  align-self: flex-end;
  height: 1985px;
  margin-right: 4px;
  margin-top: 28px;
  position: relative;
  width: 460px;
}

.homepage-bot-open .lorem-ipsum-dolor-si {
  left: 0;
  letter-spacing: -0.64px;
  line-height: 28.8px;
  opacity: 0.6;
  position: absolute;
  top: 1644px;
}

.homepage-bot-open .automate-your-day {
  height: 45px;
  left: 51px;
  letter-spacing: -1.28px;
  line-height: 44.8px;
  position: absolute;
  top: 1575px;
  white-space: nowrap;
}

.homepage-bot-open .group-285 {
  display: flex;
  height: 1853px;
  left: 0;
  position: absolute;
  top: 0;
  width: 353px;
}

.homepage-bot-open .group-282 {
  align-items: center;
  display: flex;
  flex-direction: column;
  min-height: 1835.68px;
  width: 32px;
}

.homepage-bot-open .friends {
  height: 3px;
  width: 18px;
}

.homepage-bot-open .ellipse-20 {
  background-color: var(--brilliant-rose);
  border-radius: 16px;
  height: 32px;
  margin-top: 1801px;
  opacity: 0.1;
  width: 32px;
}

.homepage-bot-open .instantly-fill-out-f {
  height: 52px;
  letter-spacing: -0.64px;
  line-height: 25.6px;
  margin-left: 17px;
  margin-top: 1800.7px;
  width: 302px;
}

.homepage-bot-open .group-286 {
  display: flex;
  height: 1918px;
  left: 0;
  position: absolute;
  top: 11px;
  width: 311px;
}

.homepage-bot-open .group-282-1 {
  align-items: center;
  display: flex;
  flex-direction: column;
  min-height: 1900.92px;
  width: 32px;
}

.homepage-bot-open .ellipse-20-1 {
  background-color: var(--brilliant-rose);
  border-radius: 16px;
  height: 32px;
  margin-top: 1866px;
  opacity: 0.1;
  width: 32px;
}

.homepage-bot-open .alert-technicians-of {
  height: 52px;
  letter-spacing: -0.64px;
  line-height: 25.6px;
  margin-left: 17px;
  margin-top: 1865.9px;
  width: 260px;
}

.homepage-bot-open .group-287 {
  display: flex;
  height: 1964px;
  left: 0;
  position: absolute;
  top: 21px;
  width: 285px;
}

.homepage-bot-open .group-282-2 {
  align-items: center;
  display: flex;
  flex-direction: column;
  min-height: 1963.59px;
  width: 32px;
}

.homepage-bot-open .ellipse-20-2 {
  background-color: var(--brilliant-rose);
  border-radius: 16px;
  height: 32px;
  margin-top: 1929px;
  opacity: 0.1;
  width: 32px;
}

.homepage-bot-open .automate-customer-reminders {
  height: 26px;
  letter-spacing: -0.64px;
  line-height: 25.6px;
  margin-left: 17px;
  margin-top: 1934.6px;
  white-space: nowrap;
  width: 234px;
}

.homepage-bot-open .frame-16 {
  background-color: var(--brilliant-rose);
  border-radius: 50px;
  display: flex;
  height: 62px;
  margin-left: 14px;
  margin-top: 42px;
  width: 164px;
}

.homepage-bot-open .learn-more {
  height: 22px;
  letter-spacing: -0.64px;
  line-height: 22.4px;
  margin-left: 40px;
  margin-top: 20px;
  text-align: center;
  white-space: nowrap;
  width: 84px;
}

.homepage-bot-open .group-515 {
  display: flex;
  height: 3930px;
  left: 8px;
  position: absolute;
  top: 298px;
  width: 1123px;
}

.homepage-bot-open .group-478 {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  min-height: 3784.83px;
  width: 460px;
}

.homepage-bot-open .an-app-build-specifi {
  align-self: center;
  letter-spacing: -1.28px;
  line-height: 44.8px;
  margin-left: 30.0px;
  margin-top: 3376px;
  min-height: 90px;
  min-width: 360px;
}

.homepage-bot-open .uleadz-guarantees-to {
  align-self: flex-end;
  letter-spacing: -0.64px;
  line-height: 28.8px;
  margin-right: 4px;
  margin-top: 24px;
  min-height: 174px;
  min-width: 442px;
  opacity: 0.7;
}

.homepage-bot-open .frame-16-1 {
  background-color: var(--brilliant-rose);
  border-radius: 50px;
  display: flex;
  height: 62px;
  margin-left: 14px;
  margin-top: 53px;
  width: 164px;
}

.homepage-bot-open .group-513 {
  align-items: flex-start;
  display: flex;
  margin-left: 41px;
  margin-top: 3321.8px;
  min-width: 622px;
}

.homepage-bot-open .overlap-group-2 {
  height: 608px;
  position: relative;
  width: 622px;
}

.homepage-bot-open .ellipse-25 {
  background-color: var(--blue-chalk);
  height: 608px;
  left: 0;
  position: absolute;
  top: 0;
  width: 608px;
}

.homepage-bot-open .ellipse-26 {
  background-color: var(--blue-chalk);
  height: 524px;
  left: 42px;
  position: absolute;
  top: 42px;
  width: 524px;
}

.homepage-bot-open .ellipse-27 {
  background-color: var(--blue-chalk);
  height: 432px;
  left: 88px;
  position: absolute;
  top: 88px;
  width: 432px;
}

.homepage-bot-open .group-1-45 {
  height: 286px;
  left: 49px;
  object-fit: cover;
  position: absolute;
  top: 146px;
  width: 501px;
}

.homepage-bot-open .coins2-6-1 {
  height: 78px;
  left: 96px;
  object-fit: cover;
  position: absolute;
  top: 38px;
  width: 78px;
}

.homepage-bot-open .coins2-5-1 {
  height: 78px;
  left: 544px;
  object-fit: cover;
  position: absolute;
  top: 369px;
  width: 78px;
}

.homepage-bot-open .group-517 {
  background-color: var(--alabaster);
  display: flex;
  height: 1129px;
  left: 0;
  position: absolute;
  top: 2771px;
  width: 1366px;
}

.homepage-bot-open .group-516 {
  align-items: center;
  display: flex;
  flex-direction: column;
  margin-left: 121px;
  margin-top: 152px;
  min-height: 825px;
  width: 1128px;
}

.homepage-bot-open .top-features-weve {
  letter-spacing: -2.00px;
  line-height: 65px;
  margin-right: 3.0px;
  min-height: 195px;
  min-width: 829px;
  text-align: center;
}

.homepage-bot-open .flex-row-1 {
  align-items: flex-start;
  display: flex;
  height: 562px;
  margin-right: 2.0px;
  margin-top: 68px;
  min-width: 1126px;
}

.homepage-bot-open .group-container-1 {
  align-items: flex-start;
  align-self: flex-end;
  display: flex;
  flex-direction: column;
  min-height: 561px;
  width: 491px;
}

.homepage-bot-open .group-492 {
  display: flex;
  width: 486px;
}

.homepage-bot-open .group-489 {
  display: flex;
  flex-direction: column;
  height: 215px;
  width: 247px;
}

.homepage-bot-open .scheduling-and-dispatching {
  height: 84px;
  letter-spacing: -1.12px;
  width: 209px;
}

.homepage-bot-open .send-the-right-techn {
  height: 116px;
  letter-spacing: 0;
  line-height: 28.8px;
  margin-top: 15px;
  opacity: 0.7;
  width: 243px;
}

.homepage-bot-open .coins2-5-2 {
  height: 182px;
  margin-left: 57px;
  margin-top: 2px;
  object-fit: cover;
  width: 182px;
}

.homepage-bot-open .group-493 {
  display: flex;
  height: 247px;
  margin-top: 99px;
  width: 491px;
}

.homepage-bot-open .group-489-1 {
  display: flex;
  flex-direction: column;
  height: 244px;
  margin-top: 3px;
  width: 237px;
}

.homepage-bot-open .work-order-management {
  height: 84px;
  letter-spacing: -1.12px;
  width: 184px;
}

.homepage-bot-open .manage-your-workforc {
  height: 145px;
  letter-spacing: 0;
  line-height: 28.8px;
  margin-top: 15px;
  opacity: 0.7;
  width: 233px;
}

.homepage-bot-open .coins2-5-3 {
  height: 192px;
  margin-left: 62px;
  object-fit: cover;
  width: 192px;
}

.homepage-bot-open .overlap-group-container {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  margin-left: 168px;
  min-height: 547px;
  width: 467px;
}

.homepage-bot-open .overlap-group-3 {
  height: 218px;
  position: relative;
  width: 467px;
}

.homepage-bot-open .coins2-6 {
  height: 204px;
  left: 263px;
  object-fit: cover;
  position: absolute;
  top: 0;
  width: 204px;
}

.homepage-bot-open .group-490 {
  display: flex;
  flex-direction: column;
  height: 215px;
  left: 0;
  position: absolute;
  top: 3px;
  width: 266px;
}

.homepage-bot-open .s-an {
  height: 84px;
  letter-spacing: -1.12px;
  width: 191px;
}

.homepage-bot-open .email-or-fax-estimat {
  height: 116px;
  letter-spacing: 0;
  line-height: 28.8px;
  margin-top: 15px;
  opacity: 0.7;
  width: 262px;
}

.homepage-bot-open .overlap-group1-1 {
  height: 218px;
  margin-top: 111px;
  position: relative;
  width: 467px;
}

.homepage-bot-open .group-490-1 {
  display: flex;
  flex-direction: column;
  height: 215px;
  left: 0;
  position: absolute;
  top: 3px;
  width: 267px;
}

.homepage-bot-open .email-or-fax-estimat-1 {
  height: 116px;
  letter-spacing: 0;
  line-height: 28.8px;
  margin-top: 15px;
  opacity: 0.7;
  width: 263px;
}

.homepage-bot-open .group-497 {
  background-color: var(--brilliant-rose-4);
  border-radius: 29px;
  display: flex;
  height: 58px;
  left: 740px;
  position: absolute;
  top: 354px;
  width: 58px;
}

.homepage-bot-open .polygon-1 {
  height: 15px;
  margin-left: 21.8px;
  margin-top: 21px;
  width: 13.5px;
}

.homepage-bot-open .overlap-group2 {
  height: 4605px;
  left: 0;
  position: absolute;
  top: 919px;
  width: 1366px;
}

.homepage-bot-open .rectangle-170 {
  height: 691px;
  left: 0;
  position: absolute;
  top: 3914px;
  width: 1366px;
}

.homepage-bot-open .line-41 {
  height: 2px;
  left: 0;
  position: absolute;
  top: 3913px;
  width: 1366px;
}

.homepage-bot-open .group-484 {
  display: flex;
  flex-direction: column;
  height: 243px;
  left: 244px;
  position: absolute;
  top: 4005px;
  width: 880px;
}

.homepage-bot-open .stay-ahead-of-the-ga {
  height: 150px;
  letter-spacing: -1.88px;
  line-height: 75.2px;
  text-align: center;
  width: 878px;
}

.homepage-bot-open .frame-16-2 {
  background-color: var(--black);
  border-radius: 50px;
  display: flex;
  height: 62px;
  margin-left: 349px;
  margin-top: 31px;
  width: 180px;
}

.homepage-bot-open .contact-us {
  height: 22px;
  letter-spacing: -0.64px;
  line-height: 22.4px;
  margin-left: 48px;
  margin-top: 20px;
  text-align: center;
  white-space: nowrap;
  width: 84px;
}

.homepage-bot-open .group-486 {
  display: flex;
  flex-direction: column;
  height: 184px;
  left: 136px;
  position: absolute;
  top: 4311px;
  width: 106px;
}

.homepage-bot-open .place {
  height: 24px;
  letter-spacing: -0.48px;
  width: 47px;
}

.homepage-bot-open .why-uleadz {
  height: 24px;
  letter-spacing: -0.48px;
  margin-top: 16px;
  width: 96px;
}

.homepage-bot-open .about-us {
  height: 24px;
  letter-spacing: -0.48px;
  margin-top: 16px;
  width: 68px;
}

.homepage-bot-open .place-1 {
  height: 24px;
  letter-spacing: -0.48px;
  margin-top: 16px;
  width: 63px;
}

.homepage-bot-open .pricing {
  height: 24px;
  letter-spacing: -0.48px;
  margin-top: 16px;
  width: 51px;
}

.homepage-bot-open .group-485 {
  display: flex;
  flex-direction: column;
  height: 144px;
  left: 632px;
  position: absolute;
  top: 4311px;
  width: 110px;
}

.homepage-bot-open .industries {
  height: 24px;
  letter-spacing: -0.48px;
  width: 74px;
}

.homepage-bot-open .terms-of-use {
  height: 24px;
  letter-spacing: -0.48px;
  margin-top: 16px;
  width: 96px;
}

.homepage-bot-open .privacy-policy {
  height: 24px;
  letter-spacing: -0.48px;
  margin-top: 16px;
  width: 102px;
}

.homepage-bot-open .support {
  height: 24px;
  letter-spacing: -0.48px;
  margin-top: 16px;
  width: 61px;
}

.homepage-bot-open .hellouleadzcom {
  height: 24px;
  left: 1105px;
  letter-spacing: -0.48px;
  position: absolute;
  top: 4399px;
}

.homepage-bot-open .group-144 {
  align-items: flex-start;
  display: flex;
  height: 4464px;
  left: 1119px;
  min-width: 124px;
  position: absolute;
  top: 0;
}

.homepage-bot-open .flex-col {
  align-items: center;
  display: flex;
  flex-direction: column;
  margin-top: -0.1px;
  min-height: 4464px;
  width: 25px;
}

.homepage-bot-open .group-143 {
  height: 2px;
  margin-right: 0;
  width: 7px;
}

.homepage-bot-open .ellipse-1 {
  background-color: var(--ffffff);
  border-radius: 12.65px;
  height: 25px;
  margin-top: 4437px;
  width: 25px;
}

.homepage-bot-open .flex-col-1 {
  align-items: center;
  display: flex;
  flex-direction: column;
  margin-left: 8px;
  margin-top: -0.1px;
  min-height: 4464px;
  width: 25px;
}

.homepage-bot-open .group {
  height: 2px;
  margin-left: 0;
  width: 12px;
}

.homepage-bot-open .overlap-group1-2 {
  align-items: flex-end;
  align-self: flex-end;
  background-color: var(--ffffff);
  border-radius: 12.65px;
  display: flex;
  height: 25px;
  margin-bottom: 0;
  margin-left: 8px;
  min-width: 25px;
  padding: 6.2px 2.3px;
}

.homepage-bot-open .twitter-logowine-1 {
  height: 13px;
  width: 20px;
}

.homepage-bot-open .overlap-group-4 {
  align-items: flex-start;
  align-self: flex-end;
  background-color: var(--ffffff);
  border-radius: 12.65px;
  display: flex;
  height: 25px;
  margin-bottom: 0;
  margin-left: 8px;
  min-width: 25px;
  padding: 5.4px 2.4px;
}

.homepage-bot-open .you-tube-icon-almost-black-logowine-1 {
  height: 14px;
  width: 20px;
}

.homepage-bot-open .uleadz1-1 {
  height: 72px;
  left: 1143px;
  object-fit: cover;
  position: absolute;
  top: 4311px;
  width: 72px;
}

.homepage-bot-open .group-512 {
  background-color: var(--alabaster);
  display: flex;
  height: 923px;
  left: 0;
  position: absolute;
  top: 940px;
  width: 1366px;
}

.homepage-bot-open .group-511 {
  align-items: center;
  display: flex;
  flex-direction: column;
  margin-left: 100px;
  margin-top: 120px;
  min-height: 683px;
  width: 1167px;
}

.homepage-bot-open .get-your-business-under-control {
  letter-spacing: -1.44px;
  line-height: 46.8px;
  min-height: 47px;
  min-width: 535px;
  white-space: nowrap;
}

.homepage-bot-open .flex-row-2 {
  align-items: flex-start;
  display: flex;
  height: 578px;
  margin-right: 2.0px;
  margin-top: 58px;
  min-width: 1165px;
}

.homepage-bot-open .overlap-group-5 {
  align-items: center;
  background-color: var(--ffffff);
  border-radius: 30px;
  display: flex;
  flex-direction: column;
  min-height: 466px;
  padding: 41px 30px;
  width: 363px;
}

.homepage-bot-open .graphic_1-1-1 {
  height: 117px;
  margin-top: 15px;
  object-fit: cover;
  width: 117px;
}

.homepage-bot-open .enhance-your-management-team {
  letter-spacing: -0.88px;
  line-height: 28.6px;
  margin-right: 1.0px;
  margin-top: 49px;
  min-height: 58px;
  min-width: 208px;
  text-align: center;
}

.homepage-bot-open .maximize-your-manage {
  align-self: flex-start;
  letter-spacing: -0.60px;
  line-height: 27.0px;
  margin-top: 10px;
  min-height: 135px;
  min-width: 302px;
  opacity: 0.7;
  text-align: center;
}

.homepage-bot-open .flex-col-2 {
  align-items: center;
  display: flex;
  flex-direction: column;
  margin-left: 38px;
  min-height: 578px;
  width: 363px;
}

.homepage-bot-open .overlap-group1-3 {
  align-items: center;
  background-color: var(--ffffff);
  border-radius: 30px;
  display: flex;
  flex-direction: column;
  min-height: 466px;
  padding: 56px 36px;
  width: 363px;
}

.homepage-bot-open .graphic_1-1-2 {
  height: 117px;
  object-fit: cover;
  width: 117px;
}

.homepage-bot-open .set-jobs-up-for-success {
  letter-spacing: -0.88px;
  line-height: 28.6px;
  margin-left: 1.0px;
  margin-top: 49px;
  min-height: 29px;
  min-width: 234px;
  text-align: center;
  white-space: nowrap;
}

.homepage-bot-open .easily-manage-hundre {
  align-self: flex-end;
  letter-spacing: -0.60px;
  line-height: 27.0px;
  margin-top: 13px;
  min-height: 54px;
  min-width: 289px;
  opacity: 0.7;
  text-align: center;
}

.homepage-bot-open .frame-4 {
  background-color: var(--brilliant-rose);
  border-radius: 15px;
  display: flex;
  height: 54px;
  margin-left: 1.0px;
  margin-top: 58px;
  width: 166px;
}

.homepage-bot-open .browse-more {
  height: 24px;
  letter-spacing: -0.64px;
  margin-left: 35px;
  margin-top: 15px;
  width: 96px;
}

.homepage-bot-open .overlap-group2-1 {
  align-items: flex-end;
  background-color: var(--ffffff);
  border-radius: 30px;
  display: flex;
  flex-direction: column;
  margin-left: 38px;
  min-height: 466px;
  padding: 56px 32px;
  width: 363px;
}

.homepage-bot-open .graphic_1-1-3 {
  align-self: center;
  height: 117px;
  width: 117px;
}

.homepage-bot-open .invoice-and-get-paid {
  letter-spacing: -0.96px;
  line-height: 31.2px;
  margin-right: 34px;
  margin-top: 49px;
  min-height: 32px;
  text-align: center;
  white-space: nowrap;
  width: 231px;
}

.homepage-bot-open .uleadz-field-service {
  letter-spacing: -0.60px;
  line-height: 27.0px;
  margin-top: 10px;
  min-height: 112px;
  opacity: 0.7;
  text-align: center;
  width: 298px;
}

.homepage-bot-open .group-526 {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  left: 1054px;
  min-height: 353px;
  position: absolute;
  top: 566px;
  width: 292px;
}

.homepage-bot-open .overlap-group1-4 {
  align-items: flex-start;
  align-self: flex-end;
  background-image: url(../img/oval@2x.png);
  background-size: 100% 100%;
  display: flex;
  height: 44px;
  justify-content: flex-end;
  margin-right: 5px;
  margin-top: -9px;
  min-width: 44px;
  padding: 16.7px 17.3px;
}

.homepage-bot-open .close-icon {
  height: 9px;
  width: 9px;
}

.homepage-bot-open .flex-col-3 {
  align-items: flex-end;
  background-color: var(--ffffff);
  border-radius: 18px;
  box-shadow: 0px 0px 98px #0000001a;
  display: flex;
  flex-direction: column;
  margin-top: 3px;
  min-height: 315px;
  padding: 12px 16px;
  width: 284px;
}

.homepage-bot-open .flex-row-3 {
  align-items: flex-start;
  display: flex;
  height: 58px;
  min-width: 244px;
}

.homepage-bot-open .flex-col-4 {
  align-items: flex-start;
  align-self: flex-end;
  display: flex;
  flex-direction: column;
  min-height: 47px;
  width: 175px;
}

.homepage-bot-open .hey-im-joby {
  color: var(--blueberry);
  font-family: var(--font-family-poppins);
  font-size: var(--font-size-xl);
  font-weight: 500;
  letter-spacing: -0.50px;
  min-height: 24px;
}

.homepage-bot-open .what-you-would-like {
  color: #040818;
  font-family: var(--font-family-poppins);
  font-size: var(--font-size-m);
  font-weight: 400;
  letter-spacing: -0.50px;
  margin-top: 2px;
  min-height: 21px;
}

.homepage-bot-open .robot-2-2 {
  height: 46px;
  margin-left: 23px;
  object-fit: cover;
  width: 46px;
}

.homepage-bot-open .overlap-group-container-1 {
  align-items: flex-start;
  align-self: center;
  display: flex;
  flex-direction: column;
  margin-top: 20px;
  min-height: 211px;
  width: 236px;
}

.homepage-bot-open .overlap-group2-2 {
  border-radius: 80px;
  height: 32px;
  margin-left: 1px;
  position: relative;
  width: 186px;
}

.homepage-bot-open .check-joby-status {
  left: 51px;
  letter-spacing: -0.50px;
  position: absolute;
  top: 6px;
}

.homepage-bot-open .overlap-group-6 {
  height: 16px;
  left: 23px;
  position: absolute;
  top: 8px;
  width: 16px;
}

.homepage-bot-open .oval {
  background-color: var(--blueberry);
  border-radius: 0.93px;
  height: 2px;
  left: 4px;
  position: absolute;
  top: 4px;
  width: 2px;
}

.homepage-bot-open .oval-1 {
  background-color: var(--blueberry);
  border-radius: 0.93px;
  height: 2px;
  left: 10px;
  position: absolute;
  top: 4px;
  width: 2px;
}

.homepage-bot-open .shape {
  height: 16px;
  left: 0;
  position: absolute;
  top: 0;
  width: 16px;
}

.homepage-bot-open .rectangle-186 {
  border-radius: 80px;
  height: 32px;
  left: 0;
  position: absolute;
  top: 0;
  width: 186px;
}

.homepage-bot-open .overlap-group3 {
  border-radius: 80px;
  height: 32px;
  margin-left: 1px;
  margin-top: 16px;
  position: relative;
  width: 162px;
}

.homepage-bot-open .contact-agent {
  left: 49px;
  letter-spacing: -0.50px;
  position: absolute;
  top: 6px;
}

.homepage-bot-open .vector {
  height: 15px;
  left: 22px;
  position: absolute;
  top: 9px;
  width: 15px;
}

.homepage-bot-open .rectangle-187 {
  border-radius: 80px;
  height: 32px;
  left: 0;
  position: absolute;
  top: 0;
  width: 162px;
}

.homepage-bot-open .overlap-group6 {
  height: 33px;
  margin-left: 1px;
  margin-top: 16px;
  position: relative;
  width: 127px;
}

.homepage-bot-open .get-help {
  color: var(--ffffff);
  font-family: var(--font-family-lato);
  font-size: var(--font-size-m);
  font-weight: 400;
  left: 23px;
  letter-spacing: 0;
  position: absolute;
  top: 16px;
}

.homepage-bot-open .overlap-group4 {
  border-radius: 80px;
  height: 32px;
  left: 0;
  position: absolute;
  top: 0;
  width: 127px;
}

.homepage-bot-open .get-help-copy {
  left: 51px;
  letter-spacing: -0.50px;
  position: absolute;
  top: 6px;
}

.homepage-bot-open .message-question {
  height: 16px;
  left: 23px;
  position: absolute;
  top: 8px;
  width: 16px;
}

.homepage-bot-open .rectangle-188 {
  border-radius: 80px;
  height: 32px;
  left: 0;
  position: absolute;
  top: 0;
  width: 127px;
}

.homepage-bot-open .overlap-group7 {
  align-items: center;
  background-color: var(--alabaster);
  border-radius: 50px;
  display: flex;
  height: 36px;
  justify-content: flex-end;
  margin-top: 46px;
  min-width: 236px;
  padding: 0 5px;
}

.homepage-bot-open .type-message {
  color: #61636b;
  font-family: var(--font-family-poppins);
  font-size: var(--font-size-m);
  font-weight: 400;
  letter-spacing: -0.50px;
  margin-bottom: 1.0px;
  min-height: 21px;
  min-width: 105px;
  opacity: 0.5;
}

.homepage-bot-open .overlap-group-7 {
  align-items: flex-end;
  background-color: var(--ffffff);
  border-radius: 50px;
  display: flex;
  height: 26px;
  margin-left: 81px;
  min-width: 26px;
  padding: 7.5px 7px;
}

.homepage-bot-open .shape-1 {
  height: 10px;
  width: 12px;
}

.homepage-bot-open .menu {
  align-items: flex-start;
  display: flex;
  height: 30px;
  left: 346px;
  min-width: 679px;
  position: absolute;
  top: 209px;
}

.homepage-bot-open .overlap-group8 {
  height: 30px;
  position: relative;
  width: 296px;
}

.homepage-bot-open .place-2 {
  left: 0;
  letter-spacing: 0;
  position: absolute;
  top: 0;
}

.homepage-bot-open .group-498 {
  display: flex;
  height: 24px;
  left: 87px;
  position: absolute;
  top: 0;
  width: 97px;
}

.homepage-bot-open .why-uleadz-1 {
  height: 24px;
  letter-spacing: 0;
  opacity: 0.5;
  width: 95px;
}

.homepage-bot-open .group-584 {
  display: flex;
  height: 30px;
  left: 0;
  position: absolute;
  top: 0;
  width: 296px;
}

.homepage-bot-open .line-42 {
  height: 2px;
  margin-top: 29px;
  width: 40px;
}

.homepage-bot-open .group-499 {
  display: flex;
  margin-left: 176px;
  width: 82px;
}

.homepage-bot-open .industries-1 {
  height: 24px;
  letter-spacing: 0;
  opacity: 0.5;
  width: 80px;
}

.homepage-bot-open .about-us-1 {
  letter-spacing: 0;
  margin-left: 34px;
  min-height: 24px;
  min-width: 73px;
  opacity: 0.5;
}

.homepage-bot-open .pricing-1 {
  letter-spacing: 0;
  margin-left: 35px;
  min-height: 24px;
  min-width: 55px;
  opacity: 0.5;
}

.homepage-bot-open .place-3 {
  letter-spacing: 0;
  margin-left: 37px;
  min-height: 24px;
  min-width: 66px;
  opacity: 0.5;
}

.homepage-bot-open .help {
  letter-spacing: 0;
  margin-left: 36px;
  min-height: 24px;
  opacity: 0.5;
}

.homepage-bot-open .image-1 {
  height: 28px;
  left: 68px;
  object-fit: cover;
  position: absolute;
  top: 33px;
  width: 90px;
}
