@page
@section styles{
    <link rel="stylesheet" type="text/css" href="~/css/app/about-us.css" />
    <link rel="stylesheet" type="text/css" href="~/css/app/about-us-mobile.css" />
    <link rel="stylesheet" type="text/css" href="~/css/app/homepage.css" />
    <link rel="stylesheet" type="text/css" href="~/css/app/homepage-mobile-op-2.css" />
}

<body>
    @if (Request.IsMobileBrowser())
    {
        <partial name="_AboutUsMobile" />
    }
    else
    {
        <partial name="_AboutUs" />
    }
</body>


