<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0" />
    <link rel="shortcut icon" type="image/png" href="https://animaproject.s3.amazonaws.com/home/favicon.png" />
    <meta name="og:type" content="website" />
    <meta name="twitter:card" content="photo" />
    <link rel="stylesheet" type="text/css" href="css/about-us-mobile.css" />
    <link rel="stylesheet" type="text/css" href="css/styleguide.css" />
    <link rel="stylesheet" type="text/css" href="css/globals.css" />
  </head>
  <body style="margin: 0; background: #ffffff">
    <input type="hidden" id="anPageName" name="page" value="about-us-mobile" />
    <div class="container-center-horizontal">
      <div class="about-us-mobile screen">
        <div class="flex-row">
          <img class="image-1" src="img/image-1@2x.png" />
          <img class="menu" src="img/menu@2x.png" />
        </div>
        <div class="the-need-for-field-management-solutions poppins-semi-bold-black-34px">
          The Need For Field<br />Management<br />Solutions
        </div>
        <p class="in-2018-the-ucallz-e poppins-normal-black-14px">
          In 2018 the Ucallz entrepreneurs identified a<br />significant unmet need in the US home services<br />market
          –<br /><br />
          A lack of designated contact center<br />solutions and workflow management solutions<br />for small home
          service providers (plumbers,<br />constructors,&nbsp;&nbsp;electricians, locksmiths, appliance<br />repairers,
          carpet cleaners, garage door repairers,<br />exterminators, gardeners, etc.)
        </p>
        <div class="group-1802">
          <div class="frame-4"><div class="start-today poppins-normal-white-14px">Start today</div></div>
          <div class="frame-5 border-1px-black">
            <div class="how-it-works poppins-normal-black-14px">How it works</div>
          </div>
        </div>
        <div class="overlap-group5">
          <div class="rectangle-304"></div>
          <img class="supercup-1" src="img/supercup-1-1@2x.png" />
          <div class="legendary-support poppins-normal-black-21px">Legendary Support</div>
          <p class="uleadz-provides-an-i poppins-normal-black-14px">
            Uleadz provides an integrated and<br />comprehensive workflow management platform<br />for small and medium
            home service providers.<br /><br />Our Uleadz WFM platform essentially outsources <br />the front desk needs
            of modern day small and<br />medium home service providers.<br /><br />Our technology processes client leads
            in a<br />completely automated way, optimizing sales<br />conversion rates and dispersing workflows
            within<br />the organization. This results in very substantial<br />workforce-related cost savings. Client
            leads are<br />allocated in a highly efficient way, prioritizing<br />professionals within the organization
            according<br />to geographic area and work type.
          </p>
          <img class="rectangle-243" src="img/rectangle-243@1x.png" />
          <div class="top-ideas poppins-normal-black-14px">TOP IDEAS</div>
          <div class="overlap-group-1">
            <img class="rectangle-240" src="img/rectangle-240-1@2x.png" />
            <img class="rectangle-241" src="img/rectangle-241-1@2x.png" />
            <img class="rectangle-239" src="img/rectangle-239-1@2x.png" />
            <img class="rectangle-242" src="img/rectangle-242-1@2x.png" />
            <div class="ellipse-37"></div>
            <div class="ellipse-41"></div>
            <div class="ellipse-38"></div>
            <div class="ellipse-39"></div>
            <div class="ellipse-40"></div>
          </div>
          <div class="frame-4-1"><div class="start-now poppins-normal-white-14px">Start now</div></div>
        </div>
        <div class="overlap-group6">
          <div class="testimonial poppins-normal-black-14px">TESTIMONIAL</div>
          <div class="you-get-more-than-what-you-pay-for poppins-medium-black-28px">
            You get more than<br />what you pay for
          </div>
          <div class="overlap-group1">
            <img class="rectangle-258" src="img/rectangle-258-5@2x.png" />
            <img class="rectangle-259" src="img/rectangle-259-7@2x.png" />
            <img class="rectangle-260" src="img/rectangle-260-7@2x.png" />
          </div>
          <div class="overlap-group2">
            <p class="if-you-are-looking poppins-normal-black-14px">
              &#34;If you are looking to save time and be more<br />organized with your business, this is what<br />you
              are looking for. Awesome system, very<br />time saving and user friendly! Great to keep<br />your business
              organized!&#34;
            </p>
            <div class="group-1824">
              <img class="ellipse-42" src="img/ellipse-42@2x.png" />
              <div class="group-617">
                <div class="overlap-group">
                  <div class="name valign-text-middle poppins-medium-black-12px">Josh Garcia</div>
                  <div class="field-technician valign-text-middle poppins-normal-black-12px">Field Technician</div>
                </div>
              </div>
            </div>
          </div>
          <div class="overlap-group3">
            <p class="if-you-are-looking poppins-normal-black-14px">
              &#34;If you are looking to save time and be more<br />organized with your business, this is what<br />you
              are looking for. Awesome system, very<br />time saving and user friendly! Great to keep<br />your business
              organized!&#34;
            </p>
            <div class="group-1824">
              <img class="ellipse-42" src="img/ellipse-42@2x.png" />
              <div class="group-617">
                <div class="overlap-group">
                  <div class="name valign-text-middle poppins-medium-black-12px">Josh Garcia</div>
                  <div class="field-technician valign-text-middle poppins-normal-black-12px">Field Technician</div>
                </div>
              </div>
            </div>
          </div>
          <div class="frame-5-1 border-1px-brilliant-rose">
            <div class="view-all poppins-normal-brilliant-rose-14px">View all</div>
          </div>
        </div>
        <div class="group-1764">
          <div class="overlap-group4">
            <div class="stay-ahead-of-the-ga poppins-normal-white-20px">
              <span class="poppins-normal-white-20px">Stay ahead of the game<br />with</span>
              <span class="span1 poppins-medium-white-28px">Uleadz Field<br />Management Software</span>
            </div>
            <div class="frame-16">
              <div class="contact-us valign-text-middle poppins-medium-white-18px">Contact Us</div>
            </div>
            <div class="group-container poppins-normal-white-16px">
              <div class="group-486">
                <div class="place valign-text-middle">Home</div>
                <div class="why-uleadz valign-text-middle">Why Uleadz?</div>
                <div class="about-us valign-text-middle">About Us</div>
                <div class="place-1 valign-text-middle">Contact</div>
                <div class="pricing valign-text-middle">Pricing</div>
              </div>
              <div class="group-485">
                <div class="industries valign-text-middle">Industries</div>
                <div class="terms-of-use valign-text-middle">Terms of use</div>
                <div class="privacy-policy valign-text-middle">Privacy Policy</div>
                <div class="support valign-text-middle">Support</div>
              </div>
            </div>
            <div class="group-144">
              <div class="group-1759"><img class="group-143" src="img/group-143-2@2x.png" /></div>
              <div class="group-1758"><img class="group" src="img/group-3@2x.png" /></div>
              <div class="group-1757"><img class="vector" src="img/vector@2x.png" /></div>
              <div class="group-1756"><img class="group-1755" src="img/group-1755@2x.png" /></div>
            </div>
            <div class="hellouleadzcom valign-text-middle poppins-normal-white-16px">hello@uleadz.com</div>
            <img class="uleadz1-1" src="img/uleadz1-1-2@2x.png" />
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
