<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0" />
    <link rel="shortcut icon" type="image/png" href="https://animaproject.s3.amazonaws.com/home/favicon.png" />
    <meta name="og:type" content="website" />
    <meta name="twitter:card" content="photo" />
    <link rel="stylesheet" type="text/css" href="css/help-documentation-mobile-1.css" />
    <link rel="stylesheet" type="text/css" href="css/styleguide.css" />
    <link rel="stylesheet" type="text/css" href="css/globals.css" />
  </head>
  <body style="margin: 0; background: #ffffff">
    <input type="hidden" id="anPageName" name="page" value="help-documentation-mobile-1" />
    <div class="container-center-horizontal">
      <div class="help-documentation-mobile-1 screen">
        <div class="flex-row">
          <div class="flex-col">
            <img class="image-1" src="img/image-1@2x.png" />
            <div class="group-1876">
              <img class="vector" src="img/vector-1@2x.png" />
              <div class="overlap-group1">
                <div class="select-feature poppins-normal-mountain-mist-14px">Select feature</div>
                <div class="joby poppins-normal-black-16px">Joby</div>
              </div>
            </div>
            <div class="joby-1 poppins-medium-black-24px">Joby</div>
          </div>
          <div class="flex-col-1">
            <img class="menu" src="img/menu-1@2x.png" />
            <div class="overlap-group">
              <div class="rectangle-309"></div>
              <img class="search" src="img/search@2x.png" />
            </div>
          </div>
        </div>
        <p class="contrary-to-popular poppins-medium-hunter-green-16px">
          Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of classical Latin
          literature from 45 BC, making it over 2000 years old.
        </p>
        <p class="what-is-it-lorem-ip poppins-bold-hunter-green-16px">
          What is it?<br />Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has
          been the industry&#39;s standard dummy text ever since the 1500s, when an unknown printer took a galley of
          type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap
          into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release
          of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like
          Aldus PageMaker including versions of Lorem Ipsum.<br /><br />Why do we use it?<br />It is a long established
          fact that a reader will be distracted by the readable content of a page when looking at its layout. The point
          of using Lorem Ipsum is that it has a more-or-less normal distribution of letters, as opposed to using
          &#39;Content here, content here&#39;, making it look like readable English. Many desktop publishing packages
          and web page editors now use Lorem Ipsum as their default model text, and a search for &#39;lorem ipsum&#39;
          will uncover many web sites still in their infancy. Various versions have evolved over the years, sometimes by
          accident, sometimes on purpose (injected humour and the like).
        </p>
        <img class="web-uleadz-redesign-automation-1" src="img/web-uleadz-redesign-automation-1@2x.png" />
        <p class="what-is-it-lorem-ip-1 poppins-bold-hunter-green-16px">
          What is it?<br />Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has
          been the industry&#39;s standard dummy text ever since the 1500s, when an unknown printer took a galley of
          type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap
          into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release
          of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like
          Aldus PageMaker including versions of Lorem Ipsum.<br /><br />Why do we use it?<br />It is a long established
          fact that a reader will be distracted by the readable content of a page when looking at its layout. The point
          of using Lorem Ipsum is that it has a more-or-less normal distribution of letters, as opposed to using
          &#39;Content here, content here&#39;, making it look like readable English. Many desktop publishing packages
          and web page editors now use Lorem Ipsum as their default model text, and a search for &#39;lorem ipsum&#39;
          will uncover many web sites still in their infancy. Various versions have evolved over the years, sometimes by
          accident, sometimes on purpose (injected humour and the like).
        </p>
        <div class="frame-5 border-1px-brilliant-rose">
          <div class="back-to-help-page poppins-normal-brilliant-rose-14px">Back to Help Page</div>
        </div>
      </div>
    </div>
  </body>
</html>
