@page

@section styles{
    <link rel="stylesheet" type="text/css" href="~/css/app/homepage.css" />
    <link rel="stylesheet" type="text/css" href="~/css/app/homepage-mobile-op-2.css" />
    <link rel="stylesheet" type="text/css" href="~/css/app/help-documentation.css" />
    <link rel="stylesheet" type="text/css" href="~/css/app/help-documentation-mobile.css" />
}

<body>
    @if (Request.IsMobileBrowser())
    {
        <partial name="_HelpDocumentationMobile" />
    }
    else
    {
        <partial name="_HelpDocumentation" />
    }
</body>



