<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0" />
    <link rel="shortcut icon" type="image/png" href="https://animaproject.s3.amazonaws.com/home/favicon.png" />
    <meta name="og:type" content="website" />
    <meta name="twitter:card" content="photo" />
    <link rel="stylesheet" type="text/css" href="css/homepage-mobile-op-2.css" />
    <link rel="stylesheet" type="text/css" href="css/styleguide.css" />
    <link rel="stylesheet" type="text/css" href="css/globals.css" />
  </head>
  <body style="margin: 0; background: #ffffff">
    <input type="hidden" id="anPageName" name="page" value="homepage-mobile-op-2" />
    <div class="container-center-horizontal">
      <div class="homepage-mobile-op-2 screen">
        <div class="flex-row">
          <img class="image-1" src="img/image-1@2x.png" />
          <img class="menu" src="img/menu@2x.png" />
        </div>
        <div class="overlap-group9">
          <div class="overlap-group">
            <div class="ellipse-21"></div>
            <img class="coins2-1" src="img/coins2-1-3@2x.png" />
            <img class="coins2-2" src="img/coins2-2-3@2x.png" />
            <img class="coins2-5" src="img/coins2-5-18@2x.png" />
            <img class="iphone-12-pro-in-hand-free-mockup-1" src="img/iphone-12-pro-in-hand-free-mockup-1-3@2x.png" />
            <div class="group-497"><img class="polygon-1" src="img/polygon-1-3@2x.png" /></div>
          </div>
          <div class="the-easiest-way-to-g poppins-semi-bold-black-34px">
            The Easiest Way<br />To Grow Your<br />Service Business
          </div>
        </div>
        <div class="overlap-group8">
          <p class="schedule-jobs-get-p poppins-normal-black-14px">
            Schedule jobs, get paid in the field and grow<br />your business with Uleadz field service software,<br />trusted
            by hundreds of service pros and technicians.
          </p>
          <div class="frame-2">
            <img class="vector" src="img/vector-4@2x.png" />
            <div class="download-for-i-os poppins-normal-white-16px">Download for iOS</div>
          </div>
          <div class="overlap-group4">
            <img class="group-2" src="img/group-2-3@2x.png" />
            <div class="download-for-android poppins-normal-white-16px">Download for Android</div>
          </div>
        </div>
        <div class="group-1736">
          <div class="overlap-group3">
            <div class="get-your-business-under-control poppins-medium-black-28px">
              Get your business<br />under control
            </div>
            <div class="overlap-group-1">
              <div class="rectangle-171"></div>
              <div class="enhance-your-management-team poppins-medium-black-20px">
                Enhance your<br />management team
              </div>
              <p class="maximize-your-manage poppins-normal-black-14px">
                Maximize your management team’s<br />output by centralizing all of your data<br />and business
                processes. Create powerful<br />reports with customizable dashboards,<br />manage your assets
                seamlessly,
              </p>
              <img class="graphic_1-1-1" src="img/graphic-1-1-1-3@2x.png" />
            </div>
            <div class="overlap-group1">
              <img class="graphic_1-1-2" src="img/graphic-1-1-2-3@2x.png" />
              <div class="set-jobs-up-for-success poppins-medium-black-20px">Set jobs up for success</div>
              <p class="easily-manage-hundre poppins-normal-black-14px">
                Easily manage hundreds of jobs at a<br />time&nbsp;&nbsp;and set them up to make a profit.
              </p>
            </div>
            <div class="overlap-group2">
              <img class="graphic_1-1-3" src="img/graphic-1-1-3-3@2x.png" />
              <div class="invoice-and-get-paid poppins-medium-black-20px">Invoice and Get Paid</div>
              <p class="uleadz-field-service poppins-normal-black-14px">
                Uleadz field service management<br />software makes it easy to take payments<br />in the field, track
                invoices and make sure<br />you collect the money you’re owed.
              </p>
            </div>
            <div class="frame-4"><div class="browse-more poppins-normal-white-14px">Browse More</div></div>
          </div>
        </div>
        <div class="group-1740">
          <img class="internet" src="img/internet-7@2x.png" />
          <div class="automate-your-day valign-text-middle poppins-normal-black-21px">Automate Your Day</div>
        </div>
        <div class="group-1742">
          <div class="overlap-group5">
            <div class="ellipse-22"></div>
            <img class="coins2-3" src="img/coins2-3-8@2x.png" />
            <img class="coins2-4" src="img/coins2-4-8@2x.png" />
            <img class="mansgement-1" src="img/mansgement-1-8@2x.png" />
          </div>
        </div>
        <div class="group-1763">
          <p class="lorem-ipsum-dolor-si poppins-normal-black-14px">
            Lorem ipsum dolor sit amet, consectetur<br />adipiscing elit, sed do eiusmod tempor<br />incididunt ut
            labore et dolore magna aliqua.<br />Ut enim ad minim veniam, quis nostrud<br />exercitation ullamco laboris
            nisi ut aliquip ex<br />ea commodo consequat.
          </p>
          <div class="group-1760">
            <div class="group-282"><img class="friends" src="img/friends-9@2x.png" /></div>
            <p class="instantly-fill-out-f poppins-normal-black-14px">
              Instantly fill out forms with autofill, job<br />templates, and product/material groups.
            </p>
          </div>
          <div class="group-1761">
            <div class="group-282-1"><img class="friends" src="img/friends-10@2x.png" /></div>
            <p class="alert-technicians-of poppins-normal-black-14px">
              Alert technicians of newly assigned<br />jobs automatically.
            </p>
          </div>
          <div class="group-1762">
            <div class="group-282-2"><img class="friends" src="img/friends-11@2x.png" /></div>
            <div class="automate-customer-reminders poppins-normal-black-14px"><br />Automate customer reminders</div>
          </div>
          <div class="frame-16">
            <div class="learn-more valign-text-middle poppins-medium-white-10px">Learn More</div>
          </div>
        </div>
        <div class="group-1747">
          <div class="group-1746">
            <div class="top-features-weve poppins-medium-black-28px">
              Top Features - We’ve<br />got the digital tools your<br />business needs!
            </div>
            <div class="group-492">
              <img class="coins2-5-1" src="img/coins2-5-19@2x.png" />
              <div class="group-489">
                <div class="scheduling-an-dispatching poppins-semi-bold-black-24px">Scheduling an Dispatching</div>
                <p class="send-the-right-techn poppins-normal-shark-14px">
                  Send the right technician at the right time. <br />Keep track of all work requests and never<br />never
                  lose track of a job again.
                </p>
              </div>
            </div>
            <div class="group-1743">
              <img class="coins2-5-2" src="img/coins2-5-20@2x.png" />
              <div class="group-489-1">
                <div class="estimates-and-invoicing poppins-semi-bold-black-24px">Estimates and Invoicing</div>
                <p class="email-or-fax-estimat poppins-normal-shark-14px">
                  Email or Fax estimates/ invoices to the customers<br />directly from your mobile device. Set
                  payment<br />terms, add billing methods, etc.
                </p>
              </div>
            </div>
            <div class="group-1744">
              <img class="coins2-5-3" src="img/coins2-5-21@2x.png" />
              <div class="group-489-2">
                <div class="work-order-management poppins-semi-bold-black-24px">Work Order Management</div>
                <p class="manage-your-workforc poppins-normal-shark-14px">
                  Manage your workforce, time and cost efficiently.<br />Enable your team to book more jobs<br />and
                  help automate service requests.
                </p>
              </div>
            </div>
            <div class="group-1745">
              <img class="coins2-5-4" src="img/coins2-5-22@2x.png" />
              <div class="group-489-3">
                <div class="dashboard-and-analytics poppins-semi-bold-black-24px">Dashboard and Analytics</div>
                <p class="email-or-fax-estimat poppins-normal-shark-14px">
                  Email or Fax estimates/ invoices to the customers<br />directly from your mobile device. Set
                  payment<br />terms, add billing methods, etc.
                </p>
              </div>
            </div>
          </div>
        </div>
        <div class="group-1740-1">
          <img class="internet" src="img/internet-8@2x.png" />
          <div class="an-app-build-specifi valign-text-middle poppins-normal-black-21px">
            An App build specifically<br />for your business
          </div>
        </div>
        <div class="group-1749">
          <div class="overlap-group6">
            <div class="ellipse-23"></div>
            <img class="coins2-6" src="img/coins2-6-10@2x.png" />
            <img class="group-1-45" src="img/group-1-45-5@2x.png" />
            <img class="coins2-5-5" src="img/coins2-5-23@2x.png" />
          </div>
        </div>
        <div class="group-1756">
          <p class="l-uleadz-guarantees-t poppins-normal-black-14px">
            LUleadz guarantees to provide you with the<br />best Field Service Workforce Management App<br />&amp;
            Scheduling Software that addresses your<br />unique, industry-specific needs to give your<br />company a new
            sense of liberation. We provide<br />you with all the useful resources that can help<br />you to automate
            your business workflows and<br />optimize your workforce.
          </p>
          <div class="frame-16-1">
            <div class="learn-more valign-text-middle poppins-medium-white-10px">Learn More</div>
          </div>
        </div>
        <div class="group-1764">
          <div class="overlap-group7">
            <div class="stay-ahead-of-the-ga poppins-normal-white-20px">
              <span class="poppins-normal-white-20px">Stay ahead of the game<br />with</span>
              <span class="span1 poppins-medium-white-28px">Uleadz Field<br />Management Software</span>
            </div>
            <div class="frame-16-2">
              <div class="contact-us valign-text-middle poppins-medium-white-18px">Contact Us</div>
            </div>
            <div class="group-container poppins-normal-white-16px">
              <div class="group-486">
                <div class="place valign-text-middle">Home</div>
                <div class="why-uleadz valign-text-middle">Why Uleadz?</div>
                <div class="about-us valign-text-middle">About Us</div>
                <div class="place-1 valign-text-middle">Contact</div>
                <div class="pricing valign-text-middle">Pricing</div>
              </div>
              <div class="group-485">
                <div class="industries valign-text-middle">Industries</div>
                <div class="terms-of-use valign-text-middle">Terms of use</div>
                <div class="privacy-policy valign-text-middle">Privacy Policy</div>
                <div class="support valign-text-middle">Support</div>
              </div>
            </div>
            <div class="group-144">
              <div class="group-1759"><img class="group-143" src="img/group-143-2@2x.png" /></div>
              <div class="group-1758"><img class="group" src="img/group-16@2x.png" /></div>
              <div class="group-1757"><img class="vector-1" src="img/vector@2x.png" /></div>
              <div class="group-1756-1"><img class="group-1755" src="img/group-1755@2x.png" /></div>
            </div>
            <div class="hellouleadzcom valign-text-middle poppins-normal-white-16px">hello@uleadz.com</div>
            <img class="uleadz1-1" src="img/uleadz1-1-2@2x.png" />
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
