<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=1366, maximum-scale=1.0" />
    <link rel="shortcut icon" type="image/png" href="https://animaproject.s3.amazonaws.com/home/favicon.png" />
    <meta name="og:type" content="website" />
    <meta name="twitter:card" content="photo" />
    <link rel="stylesheet" type="text/css" href="css/homepage-bot-open.css" />
    <link rel="stylesheet" type="text/css" href="css/styleguide.css" />
    <link rel="stylesheet" type="text/css" href="css/globals.css" />
  </head>
  <body style="margin: 0; background: #ffffff">
    <input type="hidden" id="anPageName" name="page" value="homepage-bot-open" />
    <div class="container-center-horizontal">
      <div class="homepage-bot-open screen">
        <div class="overlap-group10">
          <img class="x1207_vw50a-x-rs-zw-qt-mg-1" src="img/1207-vw50axrszwqtmg-1@1x.png" />
          <div class="ellipse-21"></div>
          <div class="group-8">
            <div class="the-easiest-way-to-g poppins-semi-bold-black-61px">
              The Easiest Way<br />To Grow Your<br />Service Business
            </div>
            <p class="schedule-jobs-get-p poppins-normal-black-16px">
              Schedule jobs, get paid in the field and grow your business with Uleadz field<br />service software,
              trusted by hundreds of service pros and technicians.
            </p>
            <div class="flex-row">
              <div class="frame-2">
                <img class="apple_logo_black-1" src="img/apple-logo-black-1@2x.png" />
                <div class="download-for-i-os poppins-normal-white-16px">Download for iOS</div>
              </div>
              <div class="overlap-group">
                <img class="group-2" src="img/group-2@2x.png" />
                <div class="download-for-android poppins-normal-white-16px">Download for Android</div>
              </div>
            </div>
          </div>
          <img class="coins2-1" src="img/coins2-1@2x.png" />
          <img class="coins2-2" src="img/coins2-2@2x.png" />
          <img class="coins2-5" src="img/coins2-5@2x.png" />
          <img class="iphone-12-pro-in-hand-free-mockup-1" src="img/iphone-12-pro-in-hand-free-mockup-1@1x.png" />
          <div class="group-container">
            <div class="group-519">
              <div class="group-514">
                <div class="overlap-group1">
                  <img class="ellipse-22" src="img/ellipse-22@1x.png" />
                  <img class="ellipse-24" src="img/ellipse-24@1x.png" />
                  <img class="ellipse-23" src="img/ellipse-23@2x.png" />
                  <img class="mansgement-1" src="img/mansgement-1@1x.png" />
                  <img class="coins2-3" src="img/coins2-3@2x.png" />
                  <img class="coins2-4" src="img/coins2-4@2x.png" />
                </div>
              </div>
              <div class="group-488">
                <img class="internet" src="img/internet-3@2x.png" />
                <div class="overlap-group-1">
                  <p class="lorem-ipsum-dolor-si poppins-normal-black-16px">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do<br />eiusmod tempor incididunt ut
                    labore et dolore magna aliqua.<br />Ut enim ad minim veniam, quis nostrud exercitation ullamco<br />laboris
                    nisi ut aliquip ex ea commodo consequat.
                  </p>
                  <div class="automate-your-day valign-text-middle poppins-normal-black-32px">Automate Your Day</div>
                  <div class="group-285">
                    <div class="group-282">
                      <img class="friends" src="img/friends-3@2x.png" />
                      <div class="ellipse-20"></div>
                    </div>
                    <p class="instantly-fill-out-f valign-text-middle poppins-normal-black-16px">
                      Instantly fill out forms with autofill, job<br />templates, and product/material groups.
                    </p>
                  </div>
                  <div class="group-286">
                    <div class="group-282-1">
                      <img class="friends" src="img/friends-4@2x.png" />
                      <div class="ellipse-20-1"></div>
                    </div>
                    <p class="alert-technicians-of poppins-normal-black-16px">
                      Alert technicians of newly assigned<br />jobs automatically.
                    </p>
                  </div>
                  <div class="group-287">
                    <div class="group-282-2">
                      <img class="friends" src="img/friends-5@2x.png" />
                      <div class="ellipse-20-2"></div>
                    </div>
                    <div class="automate-customer-reminders poppins-normal-black-16px">
                      <br />Automate customer reminders
                    </div>
                  </div>
                </div>
                <div class="frame-16">
                  <div class="learn-more valign-text-middle poppins-medium-white-16px">Learn More</div>
                </div>
              </div>
            </div>
            <div class="group-515">
              <div class="group-478">
                <img class="internet" src="img/internet-4@2x.png" />
                <div class="an-app-build-specifi poppins-normal-black-32px">
                  An App build specifically<br />for your business
                </div>
                <p class="uleadz-guarantees-to poppins-normal-black-16px">
                  Uleadz guarantees to provide you with the best Field Service<br />Workforce Management App &amp;
                  Scheduling Software that<br />addresses your unique, industry-specific needs to give your<br />company
                  a new sense of liberation. We provide you with all<br />the useful resources that can help you to
                  automate your<br />business workflows and optimize your workforce
                </p>
                <div class="frame-16-1">
                  <div class="learn-more valign-text-middle poppins-medium-white-16px">Learn More</div>
                </div>
              </div>
              <div class="group-513">
                <div class="overlap-group-2">
                  <img class="ellipse-25" src="img/ellipse-25@1x.png" />
                  <img class="ellipse-26" src="img/ellipse-26@1x.png" />
                  <img class="ellipse-27" src="img/ellipse-27@2x.png" />
                  <img class="group-1-45" src="img/group-1-45@1x.png" />
                  <img class="coins2-6-1" src="img/coins2-2@2x.png" />
                  <img class="coins2-5-1" src="img/coins2-1@2x.png" />
                </div>
              </div>
            </div>
          </div>
          <div class="group-517">
            <div class="group-516">
              <div class="top-features-weve poppins-medium-black-50px">
                Top Features - We’ve got the digital<br />tools your business needs!
              </div>
              <div class="flex-row-1">
                <div class="group-container-1">
                  <div class="group-492">
                    <div class="group-489">
                      <div class="scheduling-and-dispatching poppins-semi-bold-black-28px">
                        Scheduling and<br />Dispatching
                      </div>
                      <p class="send-the-right-techn poppins-normal-shark-16px">
                        Send the right technician at<br />theright time. Keep track of<br />all work requests and
                        never<br />never lose track of a job again.
                      </p>
                    </div>
                    <img class="coins2-5-2" src="img/coins2-5-6@2x.png" />
                  </div>
                  <div class="group-493">
                    <div class="group-489-1">
                      <div class="work-order-management poppins-semi-bold-black-28px">Work Order<br />Management</div>
                      <p class="manage-your-workforc poppins-normal-shark-16px">
                        Manage your workforce, time<br />and cost efficiently. Enable<br />your team to book more
                        jobs<br />and help automate service<br />requests.
                      </p>
                    </div>
                    <img class="coins2-5-3" src="img/coins2-5-2@2x.png" />
                  </div>
                </div>
                <div class="overlap-group-container">
                  <div class="overlap-group-3">
                    <img class="coins2-6" src="img/coins2-6@2x.png" />
                    <div class="group-490">
                      <div class="s-an poppins-semi-bold-black-28px">Estimates and<br />Invoicing</div>
                      <p class="email-or-fax-estimat poppins-normal-shark-16px">
                        Email or Fax estimates/ invoices<br />to the customers directly from<br />your mobile device.
                        Set payment<br />terms, add billing methods, etc.
                      </p>
                    </div>
                  </div>
                  <div class="overlap-group1-1">
                    <img class="coins2-6" src="img/coins2-6-1@2x.png" />
                    <div class="group-490-1">
                      <div class="s-an poppins-semi-bold-black-28px">Dashboards &amp;<br />Analytics</div>
                      <p class="email-or-fax-estimat-1 poppins-normal-shark-16px">
                        Email or Fax estimates/ invoices<br />to the customers directly from<br />your mobile device.
                        Set payment<br />terms, add billing methods, etc.
                      </p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="group-497"><img class="polygon-1" src="img/polygon-1@2x.png" /></div>
          <div class="overlap-group2 poppins-normal-white-16px">
            <img class="rectangle-170" src="img/rectangle-170@1x.png" />
            <img class="line-41" src="img/line-41@1x.png" />
            <div class="group-484">
              <div class="stay-ahead-of-the-ga poppins-medium-white-47px">
                Stay ahead of the game<br />with Uleadz Field Management Software
              </div>
              <div class="frame-16-2">
                <div class="contact-us valign-text-middle poppins-medium-white-16px">Contact Us</div>
              </div>
            </div>
            <div class="group-486">
              <div class="place valign-text-middle">Home</div>
              <div class="why-uleadz valign-text-middle">Why Uleadz?</div>
              <div class="about-us valign-text-middle">About Us</div>
              <div class="place-1 valign-text-middle">Contact</div>
              <div class="pricing valign-text-middle">Pricing</div>
            </div>
            <div class="group-485 poppins-normal-white-16px">
              <div class="industries valign-text-middle">Industries</div>
              <div class="terms-of-use valign-text-middle">Terms of use</div>
              <div class="privacy-policy valign-text-middle">Privacy Policy</div>
              <div class="support valign-text-middle">Support</div>
            </div>
            <div class="hellouleadzcom valign-text-middle">hello@uleadz.com</div>
            <div class="group-144">
              <div class="flex-col">
                <img class="group-143" src="img/group-143-3@2x.png" />
                <div class="ellipse-1"></div>
              </div>
              <div class="flex-col-1">
                <img class="group" src="img/group-5@2x.png" />
                <div class="ellipse-1"></div>
              </div>
              <div class="overlap-group1-2">
                <img class="twitter-logowine-1" src="img/twitter-logo-wine-1@2x.png" />
              </div>
              <div class="overlap-group-4">
                <img
                  class="you-tube-icon-almost-black-logowine-1"
                  src="img/youtube-icon-almost-black-logo-wine-1@2x.png"
                />
              </div>
            </div>
            <img class="uleadz1-1" src="img/uleadz1-1@2x.png" />
          </div>
          <div class="group-512">
            <div class="group-511">
              <div class="get-your-business-under-control poppins-medium-black-36px">
                Get your business under control
              </div>
              <div class="flex-row-2">
                <div class="overlap-group-5">
                  <img class="graphic_1-1-1" src="img/graphic-1-1-1@2x.png" />
                  <div class="enhance-your-management-team poppins-medium-black-22px">
                    Enhance your<br />management team
                  </div>
                  <p class="maximize-your-manage poppins-normal-black-15px">
                    Maximize your management team’s output<br />by centralizing all of your data and business<br />processes.
                    Create powerful reports with<br />customizable dashboards, manage your<br />assets seamlessly,
                  </p>
                </div>
                <div class="flex-col-2">
                  <div class="overlap-group1-3">
                    <img class="graphic_1-1-2" src="img/graphic-1-1-2@2x.png" />
                    <div class="set-jobs-up-for-success poppins-medium-black-22px">Set jobs up for success</div>
                    <p class="easily-manage-hundre poppins-normal-black-15px">
                      Easily manage hundreds of jobs at a time <br />and set them up to make a profit.
                    </p>
                  </div>
                  <div class="frame-4"><div class="browse-more poppins-normal-white-16px">Browse More</div></div>
                </div>
                <div class="overlap-group2-1">
                  <img class="graphic_1-1-3" src="img/graphic-1-1-3@2x.png" />
                  <div class="invoice-and-get-paid poppins-medium-black-24px">Invoice and Get Paid</div>
                  <p class="uleadz-field-service poppins-normal-black-15px">
                    Uleadz field service management software<br />makes it easy to take payments in the<br />field,
                    track invoices and make sure you<br />collect the money you’re owed.
                  </p>
                </div>
              </div>
            </div>
          </div>
          <div class="group-526">
            <div class="overlap-group1-4"><img class="close-icon" src="img/close-icon@2x.svg" /></div>
            <div class="flex-col-3">
              <div class="flex-row-3">
                <div class="flex-col-4">
                  <div class="hey-im-joby">Hey, I’m Joby.</div>
                  <p class="what-you-would-like">What you would like to do?</p>
                </div>
                <img class="robot-2-2" src="img/robot-2-2@2x.png" />
              </div>
              <div class="overlap-group-container-1">
                <div class="overlap-group2-2">
                  <div class="check-joby-status poppins-normal-blueberry-14px">Check Joby status</div>
                  <div class="overlap-group-6">
                    <div class="oval"></div>
                    <div class="oval-1"></div>
                    <img class="shape" src="img/shape-1@2x.png" />
                  </div>
                  <div class="rectangle-186 border-1px-blueberry"></div>
                </div>
                <div class="overlap-group3">
                  <div class="contact-agent poppins-normal-blueberry-14px">Contact Agent</div>
                  <img class="vector" src="img/vector-2@2x.png" />
                  <div class="rectangle-187 border-1px-blueberry"></div>
                </div>
                <div class="overlap-group6">
                  <div class="get-help">Get help</div>
                  <div class="overlap-group4">
                    <div class="get-help-copy poppins-normal-blueberry-14px">Get help</div>
                    <img class="message-question" src="img/message-question@2x.png" />
                    <div class="rectangle-188 border-1px-blueberry"></div>
                  </div>
                </div>
                <div class="overlap-group7">
                  <div class="type-message">Type message…</div>
                  <div class="overlap-group-7"><img class="shape-1" src="img/shape@2x.png" /></div>
                </div>
              </div>
            </div>
          </div>
          <div class="menu poppins-medium-hunter-green-16px">
            <div class="overlap-group8">
              <div class="place-2 poppins-medium-hunter-green-16px">Home</div>
              <div class="group-498"><div class="why-uleadz-1 poppins-medium-hunter-green-16px">Why Uleadz</div></div>
              <div class="group-584">
                <img class="line-42" src="img/line-42@2x.png" />
                <div class="group-499"><div class="industries-1 poppins-medium-hunter-green-16px">Industries</div></div>
              </div>
            </div>
            <div class="about-us-1">About Us</div>
            <div class="pricing-1">Pricing</div>
            <div class="place-3">Contact</div>
            <div class="help">Help</div>
          </div>
        </div>
        <img class="image-1" src="img/image-1@2x.png" />
      </div>
    </div>
  </body>
</html>
