@page

@section styles{
    <link rel="stylesheet" type="text/css" href="~/css/app/homepage.css" />
    <link rel="stylesheet" type="text/css" href="~/css/app/industries-locksmith.css" />
    <link rel="stylesheet" type="text/css" href="~/css/app/industries-mobile2.css" />
    <link rel="stylesheet" type="text/css" href="~/css/app/homepage-mobile-op-2.css" />
}

<body>
    @if (Request.IsMobileBrowser())
    {
        <partial name="_IndustriesLocksmithMobile" />

    }
    else
    {
        <partial name="_IndustriesLocksmith" />
    }

</body>


