@page
@section styles{
    <link rel="stylesheet" type="text/css" href="~/css/app/pricing.css" />
    @*<link rel="stylesheet" type="text/css" href="~/css/app/pricing-v2.css" />*@
    <link rel="stylesheet" type="text/css" href="~/css/app/pricing-v2-mobile.css" />
    <link rel="stylesheet" type="text/css" href="~/css/app/homepage-mobile-op-2.css" />
    <link rel="stylesheet" type="text/css" href="~/css/app/homepage.css" />
}

<body>
    @if (Request.IsMobileBrowser())
    {
        <partial name="_PricingMobile" />
    }
    else
    {
        <partial name="_Pricing" />
    }
</body>


