@page
@section styles{
    <link rel="stylesheet" type="text/css" href="~/css/app/homepage.css" />
    <link rel="stylesheet" type="text/css" href="~/css/app/homepage-mobile-op-2.css" />
    <link rel="stylesheet" type="text/css" href="~/css/app/why-uleadz.css" />
    <link rel="stylesheet" type="text/css" href="~/css/app/why-uleadz-mobile.css" />
}


<body>
    @if (Request.IsMobileBrowser())
    {
        <partial name="_WhyUleadzMobile" />
    }
    else
    {
        <partial name="_WhyUleadz" />
    }
</body>



